
/* main.less
** for meavisa.org, by @f03lipe
** Project-specific designs. All project .less files should import this. 
*/

@import "font-awesome/font-awesome.less";
@import "mixins.less";
@import "bstp.less";

@import "plugins/scrollbars.less";
@import "plugins/snshare.less";
@import "layouts/navbar.less";
@import "layouts/footer.less";

@import "buttons.less";

@COLOR1: #00b5ca;
@COLOR2: #2ecc71;
@CBLUE: #00b5ca;
@CGREEN: #2ecc71;

html {
	// font-size: 16px;
	position: relative;
	min-height: 100%;
}

body {
	font-family: "Open Sans";
	background: #f8f9fa;
}

.popover {
	position: absolute;
	z-index: 10;
}

.modal {
	color: #444;
}

.flash-msgs {
	// border: 1px solid black;
	// z-index: 3;

	margin: 10px 0;

	.warn, .info {
		margin: 5px 0;
		margin-bottom: 0;
	}

	.warn {
		&:extend(.alert);
		&:extend(.alert-danger);
		// background: #e74c3c;
	}

	.info {
		&:extend(.alert);
		&:extend(.alert-info);
		// background: #54B8Fb;
	}
}

i[class*=icon] {
	.fa-mixin;
}

i.icon-cog { .fa-mixin-icon(cog); }
i.icon-bell { .fa-mixin-icon(bell); }
i.icon-bell-o { .fa-mixin-icon(bell-o); }
i.icon-search { .fa-mixin-icon(search); }
i.icon-question { .fa-mixin-icon(question); }
i.icon-bullhorn { .fa-mixin-icon(bullhorn); }
i.icon-angle-down { .fa-mixin-icon(angle-down); }
i.icon-check-square { .fa-mixin-icon(check-square); }
i.icon-minus-square { .fa-mixin-icon(minus-square); }
i.icon-square-o { .fa-mixin-icon(square-o); }
i.icon-info { .fa-mixin-icon(info); }
i.icon-twitter { .fa-mixin-icon(twitter); }
i.icon-facebook { .fa-mixin-icon(facebook); }