
/* main.less
** for meavisa.org, by @f03lipe
** Project-specific designs. All project .less files should import this. 
*/

@import "font-awesome/font-awesome.less";
@import (reference) "mixins.less";
@import "bstp.less";

@import "plugins/scrollbars.less";
@import "plugins/snshare.less";
@import "layouts/navbar.less";
@import "layouts/footer.less";

@import "buttons.less";
@import "dialog.less";

@COLOR1: #00b5ca;
@COLOR2: #2ecc71;
@COLOR3: #FF8300;
@CBLUE: #00b5ca;
@CGREEN: #2ecc71;

@BrandColor: @COLOR1; // #3498db;
@BrandFontFamily: "Londrina Solid", Helvetica, Arial;

html {
	// font-size: 16px;
	position: relative;
	min-height: 100%;
}

body {
	font-family: "Open Sans";
	background: #fBfBfB;
}

.popover {
	position: absolute;
	z-index: 10;
}

.modal {
	color: #444;
}

.flash-msgs {
	// border: 1px solid black;
	// z-index: 3;
	position: fixed;

	margin: 10px 0;

	.warn, .info {
		margin: 5px 0;
		margin-bottom: 0;
	}

	.warn {
		&:extend(.alert);
		&:extend(.alert-danger);
		// background: #e74c3c;
	}

	.info {
		&:extend(.alert);
		&:extend(.alert-info);
	}
}

i[class*=icon] {
	.fa-mixin;
	&.icon-large {
		.fa-mixin-lg;
	}
}

i.icon-cog { .fa-mixin-icon(cog); }
i.icon-bell { .fa-mixin-icon(bell); }
i.icon-bell-o { .fa-mixin-icon(bell-o); }
i.icon-search { .fa-mixin-icon(search); }
i.icon-question { .fa-mixin-icon(question); }
i.icon-bullhorn { .fa-mixin-icon(bullhorn); }
i.icon-angle-down { .fa-mixin-icon(angle-down); }
i.icon-check-square { .fa-mixin-icon(check-square); }
i.icon-minus-square { .fa-mixin-icon(minus-square); }
i.icon-square-o { .fa-mixin-icon(square-o); }
i.icon-info { .fa-mixin-icon(info); }

i.icon-twitter { .fa-mixin-icon(twitter); }
i.icon-facebook { .fa-mixin-icon(facebook); }
i.icon-github { .fa-mixin-icon(github); }
i.icon-google-plus { .fa-mixin-icon(google-plus); }
i.icon-skype { .fa-mixin-icon(skype); }
i.icon-linkedin { .fa-mixin-icon(linkedin); }
i.icon-archive { .fa-mixin-icon(archive); }
i.icon-home { .fa-mixin-icon(home); }

i.icon-tag { .fa-mixin-icon(tag); }
i.icon-tags { .fa-mixin-icon(tags); }
i.icon-eye { .fa-mixin-icon(eye); }
i.icon-comments-o { .fa-mixin-icon(comments-o); }
i.icon-certificate { .fa-mixin-icon(certificate); }
i.icon-trophy { .fa-mixin-icon(trophy); }
i.icon-user { .fa-mixin-icon(user); }
i.icon-users { .fa-mixin-icon(users); }
i.icon-sign-out { .fa-mixin-icon(sign-out); }
i.icon-calendar { .fa-mixin-icon(calendar); }
