
/* main.less
** for qilabs.org, by @f03lipe
** Project-specific designs. All project .less files should import this. 
*/

@import (reference) "mixins.less";
// @import (reference) "variables.less";
// @import (reference) "btspmixins.less";
@import "bstp.less";

// @import "plugins/scrollbars.less";
@import "plugins/snshare.less";
@import (css) "plugins/fonts.less";
@import "layouts/navbar.less";
@import "layouts/footer.less";
@import "components/closeicon.less";
@import "components/buttons.less";
@import "components/dialog.less";
@import "components/icons.less";

@COLOR1: #00b5ca;
@COLOR2: #2ecc71;
@COLOR3: #FF8300;
@COLOR4: #FE3F44;
@CBLUE: #00b5ca;
@CGREEN: #2ecc71;

ul {
	margin: 0;
	padding: 0;
}


body { 
	margin: 0;
	-webkit-font-smoothing: antialiased;
}

@BrandColor: @COLOR1; // #3498db;
@BrandFontFamily: "Londrina Solid", Helvetica, Arial;

.avatarWrapper {
	display: inline-block;
	vertical-align: middle;
	width: 50px;
	height: 50px;
	text-decoration: none;
	overflow: hidden;

	.avatar {
		vertical-align: middle;
		width: 100%;
		height: 100%;
		background-size: cover !important;
	}

	& + .username, & + .name, & + span {
		vertical-align: middle;
	}
}

.tag {
	display: inline-block;
	background: 40px;
	padding: 4px 6px;
	// .rounded(5px);
	font-size: 11px;
	margin-right: 5px;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	font-family: "Lato";
	margin-bottom: 5px;
	// font-size: ;
	background: @COLOR2;
	cursor: pointer;
	// &:hover {
	// 	background: darken(@COLOR2, 5%);
	// }
	border-bottom: 2px solid rgba(0,0,0,.3);

	&.unknown {
		background: #AAA;
		// &:hover {
		// 	background: darken(#AAA, 5%);
		// }
	}
}

h1:first-child,
h2:first-child,
h3:first-child {
	margin-top: 5px;
}

[data-tag-bg=application] { background: @COLOR2; }
[data-tag-bg=vestibular] { background: @COLOR3; }
[data-tag-bg=olimpiada] { background: @COLOR4; }


html {
	// font-size: 16px;
	position: relative;
	height: 100%;
}

body {
	height: 100%;
	font-family: "Open Sans";
	background: #fBfBfB;
	min-width: 960px;
}

.popover {
	position: absolute;
	z-index: 10;
}

.modal {
	color: #444;
}

.blackout (@opacity:0.5) {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: @opacity;
}

.flash-msgs {
	// border: 1px solid black;
	// z-index: 3;
	position: fixed;

	margin: 10px 0;

	.warn, .info {
		margin: 5px 0;
		margin-bottom: 0;
	}

	.warn {
		&:extend(.alert);
		&:extend(.alert-danger);
		// background: #e74c3c;
	}

	.info {
		&:extend(.alert);
		&:extend(.alert-info);
	}
}


.cover (@blur: 2) {
	position: absolute;
	top: -2*@blur; bottom: -2*@blur;
	left: -2*@blur; right: -2*@blur;
	.blur(@blur);
	z-index: -1;

	background: #FFFFFF no-repeat center bottom;
	background-clip: content-box;
	.background-size(cover);
}

.blackout (@opacity: .6) {
	z-index: -1;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	background: black;
	opacity: @opacity;
}

.bg-cover {
	.cover(3px);
}

body > .bg-cover {
	position: fixed;
	.cover(2px);
}

.bg-img {
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	background: #FFFFFF repeat center bottom;
	background-clip: content-box;
}


.bg-img.half-opacity {
	opacity: 1;
}