
@import "common.less";

.navbar {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 0;
	background: white;

	.brand {
		.navbar-brand;
		.unselectable;
		color: #3498db;
		cursor: pointer;
		overflow: hidden;
		font-family: "Londrina Solid";
		font-size: 30px;

		.version {
			font-size: 20px;
			font-weight: normal;
			color: #444;
			cursor: default;
			// font-family: "Arial";
		}
	}

	ul {
		margin: 0 !important;
		height: @navbar-height;
		overflow-y: hidden;

		button {
			.btn0;
			color: #888;
			font-weight: 700;
		}
	
		[data-role=signin] {
			.btn0;
			.inverted-btn;
			text-transform: uppercase;
			padding-left: 30px;
			padding-right: 30px;
			font-weight: 700;
			.box-shadow(none);
		}

		[data-role=login] {
			.btn0;
			color: #888;
			font-weight: 700;
			&:hover {
				background: none;
			}
		}

		i.fa {
			font-size: 18px;
		}
	}
}
