{% extends '../full_bg_page.html' %}

{% block head %}
	{% parent %}
	<div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function() {
    FB.init({
      appId      : '{{ process.env.facebook_app_id }}', // Set YOUR APP ID
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });

    FB.api(
      "/me/likes",
      function (response) {
        if (response && !response.error) {
          console.log(response);
        }
      }
    );
 
  // Load the SDK asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document)) ;
  </script>
{% endblock %}

{% block content %}
<section>
	
	<h1>Ops! <span>:(</span></h1>
	<h2>Parece que a página que você estava tentando visualizar não existe...</h2>

	<a href="/" class="btn0 inverted-btn">
		Voltar para o site
	</a>

</section>
{% endblock %}