{% extends '../full_bg_page.html' %}

{% block content %}
	<section>

		<h1>Ops! <span>:(</span></h1>
		<h2>Estamos com problemas no servidor.</h2>
		
		{% if app.env === 'development' %}
		<div style="margin: 0 -200px; color: white; font-size: 14px; word-wrap: break-word;">
			<h2><em>{{ error_code }}</em></h2>
			<small>{{ error_msg }}</small>
			<ul>
				<small>{{ error_stack }}</small>
			</ul>
		</div>
		{% endif %}

		<a href="/" class="btn0 inverted-btn">
			Voltar para o site
		</a>

	</section>

{% endblock %}