<% layout('../stdbody') -%>

<% stylesheet(staticUrl('css','default.min.css')) -%>

<body class="" data-page="about">

	<% include ../layouts/navbar.html %>

	<section>
		<section>
			<div class="col-md-7">
				<h1><strong>Me Avisa</strong> <small>(meavisa.org)</small></h1>
				<h3>versão 0.2 alpha</h3>
				<div class="well">
					<p>O <strong>MeAvisa</strong> é um serviço para deixar alunos por dentro de oportunidades acadêmicas e profissionais (como olimpíadas escolares, cursos, intercâmbio, projetos de pesquisa etc). Nós vamos até a fonte da informação, e te avisamos quando algo do seu interesse aparece por aqui.</p>
				</div>
				<h4>O código do site está disponível <a href="http://github.com/f03lipe/meavisa">aqui</a>.</h4>
			</div>
			<div class="col-md-4 col-md-offset-1">
				<i class="fa fa-bullhorn" style="padding: 20px; font-size: 250px"></i>
			</div>
		</section>
	</section>

	<% include ../layouts/footer.html %>

	<script data-main="<%= staticUrl('js','all.min') %>" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.8/require.min.js"></script>
</body>