<% layout('../stdbody') -%>

<% stylesheet(getMediaUrl('css','default_pages.min.css')) -%>

<body class="" data-page="team">

	<% include ../layouts/navbar.html %>
	<%
	var team = [
		{
			name: 'Felipe Aragão',
			twitter: 'http://twitter.com/f03lipe',
			desc: '',
			avatar: getMediaUrl('images','t','felipe.jpg'),
		},
	]
	%>

	<section class="team">
		<section>
			<h1><strong>Equipe</strong></h1>

			<% for (var i=0; i<team.length; i++) {
				var person = team[i];
			%>
			
			<li>
				<div class="avatar">
					<img width=100 src="<%= person.avatar %>" />
				</div>
				<div class="">
				<h3><%= person.name %></h3>
				<% if (person.twitter) { %>
					<a href="<%= person.twitter %>"><i class="icon-twitter icon-large"></i></a>
				<% } %>
			</li>
			<% } %>
		</section>
	</section>

	<% include ../layouts/footer.html %>

	<script data-main="<%= getMediaUrl('js','all.min') %>" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.8/require.min.js"></script>
</body>