{% extends '../stdbody.html' %}
{% set dataPage="bpost" %}

{% import '../macros/tags.html' as tagMacros %}

{% block title %}
	{{ post.data.title }} · QI Labs.org
{% endblock %}

{% block head %}
	{{ tagMacros.stylesheet(getMediaUrl('css/snpages.min.css')) }}
	<link rel="stylesheet" href="//brick.a.ssl.fastly.net/EB+Garamond:400,400i/Crimson:400,600i,700i/Domine:400,700/Clear+Sans:400,500,700/Bitter:400,700/Libre+Baskerville:400,700/Merriweather:400,400i,700",>
	<link href='http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400italic,700,700italic|Lora:400,400italic,700|PT+Serif:400,400i,700,700i' rel='stylesheet' type='text/css'>
{% endblock %}

{% block body %}

	<div class="cContainer" id="globalContainer">

		<header>
			<div class="avatarWrapper">
				<div class="avatar" style="background-image: url({{ post.author.avatarUrl }})"></div>
			</div>
		</header>

		<article>
			<div class="postHeader">
				<div class="postTitle">
					{{ post.data.title }}
				</div>
				<div class="info">
					<div class="author">
					em <div class="tagList">
					{% for tag in post.tags %}
						<span class="itag"><a href="{{ getTagMap()[tag].path }}">{{ getTagMap()[tag].label }}</a></span>
					{% endfor %}</div>
					</div>
				</div>
			</div>
			<div class="postBody">
				{{ post.data.body|safe }}
			</div>

			<div class="postFooter">
				<div class="tagList">
					{% for tag in post.tags %}
						<span class="itag"><a href="{{ getTagMap()[tag].path }}">#{{ getTagMap()[tag].label }}</a></span>
					{% endfor %}</div>
				<div class="authorBox">
					<div class="left">
						<div class="avatarWrapper">
							<div class="avatar" style="background-image: url({{ post.author.avatarUrl }})"></div>
						</div>
					</div>
					<div class="userBio">
						<span class="name">{{ post.author.name }}</span>
						<p>{{ post.author.profile.bio }}</p>
					</div>
				</div>
			</div>
		</article>

		<footer>
			<div class="commentSection">
				<div class="showCommentInput" onClick="location.href='/'">
					Logue-se para comentar essa publicação.
				</div>
			</div>
			<div class="brand">
				QI <i class="icon-bulb"></i> Labs · 2014
			</div>
		</footer>

	</div>

{% endblock %}
{% block globalHeader %}
	<div id="globalHead">
		<div class="elBackground" style="background-image: url({{ profile.profile.bgUrl }}); background-position: top"></div>
		<div class="elBlackout"></div>

		<div class="profileWrapper">
			{% if profile.id == user.id %}
				<button data-action="edit-profile" data-toggle="tooltip" data-placement="left" title="Editar perfil">
					<i class="icon-lock"></i>
				</button>
				<button data-action="save-profile" data-toggle="tooltip" data-placement="left" title="Salvar mudanças">
					<i class="icon-unlock"></i>
				</button>
			{% endif %}
			
			<div class="avatarWrapper">
				<div class="avatar" style="background: url({{ profile.avatarUrl }})"></div>
			</div>

			<section class="usernameWrapper">
				<div class="name profileOutput">{{ profile.name }}</div>
				{% if profile.id == user.id %}
					<input class="profileInput" type="text" name="name" value="{{ profile.name }}" /> 
				{% endif %}
				{% if profile.id != user.id %}
					<div style="display: inline-block; width: 0">
						{% if follows %}
							<button class="btn-follow" data-action="unfollow" data-user="{{ profile.id }}"></button>
						{% else %}
							<button class="btn-follow" data-action="follow" data-user="{{ profile.id }}"></button>
						{% endif %}
					</div>
				{% endif %}
			</section>
			<section class="bio profileOutput">
				{{ profile.profile.bio }}
			</section>
			{% if profile.id == user.id %}
				<textarea class="bio profileInput autosize" name="bio" maxlength="300">{{ profile.profile.bio }}</textarea>
			{% endif %}

			<section class="whereabout">
				<i class="icon-map-marker"></i><span class="location profileOutput">{{ profile.profile.location }}</span><input type="text" class="profileInput" maxlength="35" name="location" value="{{ profile.profile.location }}"  placeholder="Local de estudo/trabalho"/>&nbsp;·&nbsp;<i class="icon-home"></i><span class="home profileOutput">{{ profile.profile.home }}</span><input type="text" class="profileInput" maxlength="35" name="home" value="{{ profile.profile.home }}" placeholder="Cidade de origem" /> 
			</section>

			<div class="stats">
				<div>
					<a href="#followers">
					<h3>{{ profile.stats.followers }}</h3>
					seguidores
					</a>
				</div>
				<div>
					<a href="#following">
					<h3>{{ profile.stats.following }}</h3>
					seguindo
					</a>
				</div>
				<div>
					<h3>{{ profile.stats.posts }}</h3>
					posts
				</div>
				<div>
					<h3>{{ profile.stats.votes }}</h3>
					votos
				</div>
			</div>
		</div>
	</div>
	</nav>
{% endblock %}
