{% extends 'stdbody.html' %}
{% set requirejsView="profile" %}
{% set dataPage="bpost" %}

{% import '../macros/tags.html' as tagMacros %}

{%
set navbarOpts = {
	pageDetailLabel: profile.name,
	pageDetailIcon: 'icon-user',
	detailOnScroll: true,
}
%}

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

{% block title %}
	{{ post }} · QI Labs.org
{% endblock %}

{% block head %}
	<script>window.user={}</script>
	{{ tagMacros.stylesheet(getMediaUrl('css/snpages.min.css')) }}
{% endblock %}

{% block body %}

	{% include '../components/navbar.html' with navbarOpts %}

	<div class="cContainer" id="globalContainer">

		<div class="postHeader">
			<div class="postTitle">
				{{ post.data.title }}
			</div>
			<div class="info">
				<div class="author">
				por <span>{{ post.author.name }}
				</div>
			</div>
		</div>
		<div class="postBody">
			{{ post.data.body|safe }}
		</div>
		<div class="postFooter">
		</div>
		<div class="commentSection">
			<div class="showCommentInput">
			</div>
		</div>

	</div>

{% endblock %}
{% block globalHeader %}
	<div id="globalHead">
		<div class="elBackground" style="background-image: url({{ profile.profile.bgUrl }}); background-position: top"></div>
		<div class="elBlackout"></div>

		<div class="profileWrapper">
			{% if profile.id == user.id %}
				<button data-action="edit-profile" data-toggle="tooltip" data-placement="left" title="Editar perfil">
					<i class="icon-lock"></i>
				</button>
				<button data-action="save-profile" data-toggle="tooltip" data-placement="left" title="Salvar mudanças">
					<i class="icon-unlock"></i>
				</button>
			{% endif %}
			
			<div class="avatarWrapper">
				<div class="avatar" style="background: url({{ profile.avatarUrl }})"></div>
			</div>

			<section class="usernameWrapper">
				<div class="name profileOutput">{{ profile.name }}</div>
				{% if profile.id == user.id %}
					<input class="profileInput" type="text" name="name" value="{{ profile.name }}" /> 
				{% endif %}
				{% if profile.id != user.id %}
					<div style="display: inline-block; width: 0">
						{% if follows %}
							<button class="btn-follow" data-action="unfollow" data-user="{{ profile.id }}"></button>
						{% else %}
							<button class="btn-follow" data-action="follow" data-user="{{ profile.id }}"></button>
						{% endif %}
					</div>
				{% endif %}
			</section>
			<section class="bio profileOutput">
				{{ profile.profile.bio }}
			</section>
			{% if profile.id == user.id %}
				<textarea class="bio profileInput autosize" name="bio" maxlength="300">{{ profile.profile.bio }}</textarea>
			{% endif %}

			<section class="whereabout">
				<i class="icon-map-marker"></i><span class="location profileOutput">{{ profile.profile.location }}</span><input type="text" class="profileInput" maxlength="35" name="location" value="{{ profile.profile.location }}"  placeholder="Local de estudo/trabalho"/>&nbsp;·&nbsp;<i class="icon-home"></i><span class="home profileOutput">{{ profile.profile.home }}</span><input type="text" class="profileInput" maxlength="35" name="home" value="{{ profile.profile.home }}" placeholder="Cidade de origem" /> 
			</section>

			<div class="stats">
				<div>
					<a href="#followers">
					<h3>{{ profile.stats.followers }}</h3>
					seguidores
					</a>
				</div>
				<div>
					<a href="#following">
					<h3>{{ profile.stats.following }}</h3>
					seguindo
					</a>
				</div>
				<div>
					<h3>{{ profile.stats.posts }}</h3>
					posts
				</div>
				<div>
					<h3>{{ profile.stats.votes }}</h3>
					votos
				</div>
			</div>
		</div>
	</div>
	</nav>
{% endblock %}
