{% extends '../stdbody.html' %}
{% import '../macros/tags.html' as tagMacros %}
{% set requirejsView="createPost" %}
{% set dataPage="createPost" %}

{% block head %}
{% parent %}
	{{ tagMacros.stylesheet(getMediaUrl('css','sn_pages.min.css')) }}
{% endblock %}

{% block body %}
<div data-page="postCreate">

	{% include '../layouts/navbar.html' %}
	{% include '../layouts/sidebar.html' %}

	<div id="globalContainer">
		<div id="content">
			<div class="leftMenuWrapper">
				<div class="leftMenu">
					<label>Selecione o Tipo de Publicação <b class="caret"></b></label>
					<div class="dropdown">
						<li>Pergunta</li>
						<li>A</li>
						<li>Dica</li>
					</div>
				</div>
				<a data-action="get-help" href="#">?</a>
			</div>
			<div id="formCreatePost">
				<div class="postIcon">
					<i class="icon-question"></i>
				</div>
				<div class="menu">
					<label>Pergunta<b class="caret"></b></label>
					<div class="dropdown">
						<li>Pergunta</li>
						<li>A</li>
						<li>Dica</li>
					</div>
				</div>
				<textarea class="title autosize" name="post_title" placeholder="Pergunta"></textarea>
				<!-- <textarea class="subtitle autosize" name="post_subtitle" placeholder="Subtítulo"></textarea> -->
				<div id="tagSelectionBoxWrapper"></div>
				<div class="bodyWrapper">
					<div id="postBody" data-placeholder="Escreva a sua experiência"></div>
				</div>
				<input type="hidden" name="type" value="PlainPost" />
				<input type="hidden" name="_csrf" value="{{ token }}" />
			</div>
		</div>

		<div class="wordCounter"></div>
	</div>

	<script>
		function resizeCardsPanel() {
			document.getElementById("globalContainer").style.height = (document.body.offsetHeight - document.getElementById("globalContainer").getBoundingClientRect().top + 10)+"px";
		}
		resizeCardsPanel();
	</script>
</div>
{% endblock %}