<% layout('../stdbody') -%>

<% stylesheet(getMediaUrl('css','feed.min.css')) -%>

<script>window._tags=<%- tags -%></script>

<body class="home">

	<% include ../layouts/navbar.html %>

	<div id="sidebar">
		<div>
			<h4>Oi, <%= user.name %>!</h4>
			<h5>Selecione aqui os assuntos de seu interesse.</h5>
		</div>
		<form id="tags-wrapper" onsubmit="return false;">
			<div class="btns">
				<button data-role="confirm" type="submit">
					Confirmar Mudanças
				</button>
				<a data-role="cancel" href="/" type="button">
					Cancelar
				</a>
			</div>
		</form>
		
		<% include ../layouts/footer.html %>
	</div>

	<div id="posts-col">
		<div class="placement col-md-10 col-md-offset-1">
			<div class="flash-msgs"></div>
			<h3 id="no-posts-msg" style="display: none; color: #888">
				Ops! Nenhum post visível. :/
			</h3>
		</div>
	</div>

	<script id="template-tagview" type="text/template">
		<@ if (tag.checked && tag.checked !== 'false') { @>
			<button class="tag tag-btn" data-checked=true >
				<i class="icon-check-square"></i>
				<@= tag.label @>
		<@ } else if (tag.hasCheckedChild) { @>
			<button class="tag tag-btn" data-checked=false >
				<i class="icon-minus-square"></i>
				<@= tag.label @>
		<@ } else { @>
			<button class="tag tag-btn" data-checked=false>
				<i class="icon-square-o"></i>
				<@= tag.label @>
		<@ } @>
				<@ if (tag.description) { @>
					<div data-role="inform">
						<i class="icon-info"></i>
					</div>
				<@ } @>
			</button>
		<@ if (!_.isEmpty(tag.children)) { @>
			<button class="expand" data-role="expand">
				<i class="icon-angle-down"></i>
			</button>
		<@ } @>
	</script>

	<script id="template-postview" type="text/template">
		<@ var daysFromToday = function (arg) {
			return Math.round((new Date()-new Date(arg))/(1000*60*60*24));
		} @>

		<div class="title">
			<@ if (post.title) { @>
				<h3><a href="<@= post.path @>"><@= post.title @></a></h3>
			<@ } @>
			<@ var days = daysFromToday(post.date) @>
			<@ if (days === 0) { @>
				<small class="">Hoje</small>
			<@ } else { @>
				<small class=""><@=days@> dia<@=days>1?"s":""@> atrás</small>
			<@ } @>
		</div>
		<@ if (post.type === 'photo') { @>
			<@ for (var i=0; i<post.photos.length; i++) { @>
				<@ var photo = post.photos[i]; @>
				<a href="<@= post.path @>"><img src="<@= photo.alt_sizes[0].url @>" /></a>
			<@ } @>
		<@ } else { @>
			<div class="body">
				<p><@= post.body @></p>
			</div>
		<@ } @>
		<div>
			tags:
			<@ for (var i=0; i<post.tags.length; i++) { @>
				<@ var tag = post.tags[i]; @>
				<a class="label label-success" href="http://<@= post.blog_name @>.tumblr.com/tagged/<@= tag @>">
					<i class="icon-tag"></i> <@= tag @></a>
			<@ } @>
		</div>
	</script>

	<script id="template-postview-single" type="text/template">
		<@ var daysFromToday = function (arg) {
			return Math.round((new Date()-new Date(arg))/(1000*60*60*24));
		} @>

		<div class="title">
			<@ if (post.title) { @>
				<h3><a href="<@= post.path @>"><@= post.title @></a></h3>
			<@ } @>
			<@ var days = daysFromToday(post.date) @>
			<@ if (days === 0) { @>
				<small class="">Hoje</small>
			<@ } else { @>
				<small class=""><@=days@> dia<@=days>1?"s":""@> atrás</small>
			<@ } @>
		</div>
		<@ if (post.type === 'photo') { @>
			<@ for (var i=0; i<post.photos.length; i++) { @>
				<@ var photo = post.photos[i]; @>
				<a href="<@= post.path @>"><img src="<@= photo.alt_sizes[0].url @>" /></a>
			<@ } @>
		<@ } else { @>
			<div class="body">
				<p><@= post.body @></p>
			</div>
		<@ } @>
		<div>
			tags:
			<@ for (var i=0; i<post.tags.length; i++) { @>
				<@ var tag = post.tags[i]; @>
				<a class="label label-success" href="http://<@= post.blog_name @>.tumblr.com/tagged/<@= tag @>">
					<i class="icon-tag"></i> <@= tag @></a>
			<@ } @>
		</div>

		<hr>

		<div id="disqus_thread"></div>
	    <script type="text/javascript">
	        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	        var disqus_shortname = 'meavisa'; // required: replace example with your forum shortname

	        /* * * DON'T EDIT BELOW THIS LINE * * */
	        (function() {
	            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
	            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	        })();
	    </script>
	    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
	</script>

	 <script type="text/javascript">
	/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	var disqus_shortname = 'meavisa'; // required: replace example with your forum shortname

	/* * * DON'T EDIT BELOW THIS LINE * * */
	(function () {
	    var s = document.createElement('script'); s.async = true;
	    s.type = 'text/javascript';
	    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
	    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
	}());
	</script>

	<script data-main="<%= getMediaUrl('js','feed.min') %>" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.8/require.min.js"></script>
</body>
