<% layout('../stdbody') -%>

<% stylesheet(staticUrl('css','frontpage.min.css')) -%>

<body class="" data-page="front">
	<!-- <script>if(window!=window.top){top.location="http://meavisa.herokuapp.com";}</script> -->

	<% include ../layouts/navbar.html %>

	<%
	var bgs = [
		{ label:'Harvard University, Boston, USA', source:'u/hav.jpg'},
		{ label:'Columbia University, New York, USA', source:'u/col.jpg'},
		{ label:'Yale University Library, Durham, USA', source:'u/yal.jpg'},
		{ label:'Massachusetts Institute of Technology, Boston, USA', source:'u/mit.jpg'},
		{ label:'Stanford University, Santa Clara, USA', source:'u/sta.jpg'},
	//	{ label:'Duke University, Durham, USA', source:'u/duk.jpg'},
	//	{ label:'Universidade de São Paulo', source: 'u/usp.jpg'},
	];
	var sel_bg = bgs[Math.floor(bgs.length*Math.random())];
	%>
	<section id="jumbo" style="background-image: url(<%= staticUrl('images/'+sel_bg.source) %>);">

		<div class="box-blackout"></div>
		<div class="content">
			<div style="position: absolute; margin: auto">
				<div class="flash-msgs"></div>
			</div>
			<section>
				<h1>Quer chegar lá?<br>A gente te ajuda!</h1>
				<p>
					O <strong>Me Avisa</strong> é um serviço online gratuito que avisa estudantes sobre oportunidades acadêmicas e profissionais na área de interesse deles.
				</p>
				<a href="#signin" data-action="show-signin">
					Seja um Early-Tester
				</a>
				<a href="<%= getPageUrl('join-team') %>" data-action="join-team">
					Faça Parte do Time
				</a>
			</section>
		</div>
		<dfn>
			<%= sel_bg.label %>
		</dfn>
	</section>

	<section id="howto">
		<h2>Funciona assim:</h2>
		<section>
			<div class="list-group">
				<a href="#" class="list-group-item">
					<h4 class="list-group-item-heading">1º Você escolhe os assuntos que você curte</h4>
					<p class="list-group-item-text">Existem várias tags no <strong>Me Avisa</strong>, para os mais variados gostos escolares. ;)</p>
				</a>
				<a href="#" class="list-group-item">
					<h4 class="list-group-item-heading">2º Nós ficamos de olho nas novidades</h4>
					<p class="list-group-item-text">Não precisa mais entrar em todos aqueles sites de Estágio, Olimpíada etc. A gente faz isso pra você.</p>
				</a>
				<a href="#" class="list-group-item">
					<h4 class="list-group-item-heading">3º A gente te avisa das novidades!</h4>
					<p class="list-group-item-text">Você receberá notificações pelo Facebook e verá o que há de novo na sua página do <strong>Me Avisa</strong>. Tudo isso para você não perder as oportunidades por aí.</p>
				</a>
			</div>
		</section>
	</section>

	<% if (latestSignIns) { %>
	<section id="last-signins">
		<div class="avatars">
			<% for (var i2=0; i2++<10;) { %>
			<% for (var i=0, user=latestSignIns[0]; i< latestSignIns.length;user = latestSignIns[++i]) { %>
			<li>
					<img src="<%=user.avatarUrl%>"></img>
			</li>
			<% } %>
			<% } %>
		</div>
		<div class="box-blackout">
		</div>
<!-- 		<h1>Últimos usuários cadastrados</h1>
 -->	</section>
	<% } %>

	<div class="dialog" id="signin">
		<div class="box">
				<button type="button" class="close" onClick="location.href='#'" aria-hidden="true">&times;</button>
			<div class="content">
				<h1>Quer ajudar a testar? \o/</h1>
				<h3>Coloca aqui o seu email</h3>
				<small>(Pode ficar tranquilo, a gente odeia spam!)</small>
				<div>
					<form method="post" action="/api/testers">
						<input type="text" name="email" placeholder="seu email aqui..." />
						<input type="hidden" name="_csrf" value="<%= token %>" />
						<button data-action="send-tester-email">Enviar</button>
					</form>
				</div>
			</div>
		</div>
		<div class="box-blackout" onClick="location.href='#'"></div>
	</div>
	<!-- 
	<section id="parcerias">
		<section>
			<li>
				<h3>Colaboração:</h3>
				</li>
			<li>
				<a href="http://www.estudar.org.br/‎" title="Fundação Estudar">
					<img width=230 src="<%=staticUrl('images/fe.png')%>"></img>
				</a>
			</li>
			<li>
				<a href="https://www.facebook.com/duxrio" title="Dux Institute">
					<img width=200 src="<%=staticUrl('images/di.jpg')%>"></img>
				</a>
			</li>
 			<li>
 				<a href="http://turmacidada.org" title="Turma Cidadã Brasil">
					<img width=150 src="<%=staticUrl('images/tc.png')%>"></img>
				</a>
			</li>
		</section>
	</section>
	 -->
	<% include ../layouts/footer.html %>

	<script data-main="<%= staticUrl('js','all.min') %>" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.8/require.min.js"></script>
</body>