{% extends '../full_msg.html' %}

{% block message %}
<section>
	<h1>Quer chegar lá?<br>A gente te ajuda!</h1>
	<p>
		O <strong>QI Labs</strong> é um serviço online gratuito que avisa estudantes sobre oportunidades acadêmicas e profissionais na área de interesse deles. Are you feeling frustated? No.
	</p>
	<a href="#signin" data-action="show-signin" data-toggle="dialog">
		Peça um Convite
	</a>
	<a href="{{ getPageUrl('about') }}" data-action="about">
		Saiba Mais
	</a>
</section>
{% endblock %}