<% layout('../stdbody') -%>

<% stylesheet(staticUrl('css','home.min.css')) -%>

<script>window._tags=<%- tags -%></script>

<body class="home">

	<!-- navbar -->
	<% include ../layouts/navbar.html %>

	<!-- tags configuration -->
	<div id="sidebar">
		<h4>Oi, <%= user.name %>!</h4>
		<h5>Selecione aqui os assuntos de seu interesse.</h5>
		<form id="tags-wrapper" onsubmit="return false;">
			<!--<button id="btn-preview" class="btn btn-large btn-block btn-info btn-lg"><strong>Prever</strong> Mudanças</button>-->
			<div class="btns">
				<button data-role="confirm" type="submit">
					Confirmar Mudanças
				</button>
				<a data-role="cancel" href="/" type="button">
					Cancelar
				</a>
			</div>
		</form>
		
		<% include ../layouts/footer.html %>
	</div>

	<!-- container -->
	<div id="posts-column">
		<div class="col-md-10 col-md-offset-1">
			<h3 id="posts-desc">Últimas atualizações dos assuntos que você segue...</h3>
			<ul id="posts"></ul>
			<h3 id="no-posts-msg" style="display: none; color: #888">
				Ops! Você não está seguindo tag nenhuma. :/</h3>
			<hr>
		</div>
	</div>

	<script id="template-tagview" type="text/template">
		<@ if (tag.checked && tag.checked !== 'false') { @>
			<button class="btn btn-default tag tag-btn" data-checked=true >
				<i class="fa fa-check-square"></i>
				<@= tag.label @>
		<@ } else if (tag.hasCheckedChild) { @>
			<button class="btn btn-default tag tag-btn" data-checked=false >
				<i class="fa fa-minus-square"></i>
				<@= tag.label @>
		<@ } else { @>
			<button class="btn btn-default tag tag-btn" data-checked=false>
				<i class="fa fa-square-o"></i>
				<@= tag.label @>
		<@ } @>
				<@ if (tag.description) { @>
					<div data-role="inform">
						<i class="fa fa-info"></i>
					</div>
				<@ } @>
			</button>
		<@ if (!_.isEmpty(tag.children)) { @>
			<button class="expand" data-role="expand">
				<i class="fa fa-angle-down"></i>
			</button>
		<@ } @>
	</script>
	<script id="template-postview" type="text/template">
		<@ var daysFromToday = function (arg) {
			return Math.round((new Date()-new Date(arg))/(1000*60*60*24));
		} @>

		<li class="post">
			<div class="title">
				<@ if (post.title) { @>
					<h3><a href="<@= post.short_url @>"><@= post.title @></a></h3>
				<@ } @>
				<@ var days = daysFromToday(post.date) @>
				<@ if (days === 0) { @>
					<small class="">Hoje</small>
				<@ } else { @>
					<small class=""><@=days@> dia<@=days>1?"s":""@> atrás</small>
				<@ } @>
			</div>
			<@ if (post.type === 'photo') { @>
				<@ for (var i=0; i<post.photos.length; i++) { @>
					<@ var photo = post.photos[i]; @>
					<a href="<@=post.short_url@>"><img src="<@=photo.alt_sizes[0].url@>" /></a>
				<@ } @>
			<@ } else { @>
				<div class="body">
					<p><@= post.body @></p>
				</div>
			<@ } @>
			<div>
				tags:
				<@ for (var i=0; i<post.tags.length; i++) { @>
					<@ var tag = post.tags[i]; @>
					<a class="label label-success" href="http://<@=post.blog_name@>.tumblr.com/tagged/<@=tag@>">
						<i class="icon-tag"></i> <@= tag @></a>
				<@ } @>
			</div>
		</li>
	</script>

	<script data-main="<%= staticUrl('js','home.min') %>" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.8/require.min.js"></script>
</body>
