<% layout('../stdbody') -%>

<% stylesheet(staticUrl('css','home.min.css')) -%>

<script>window._tags=<%- tags -%></script>

<body class="home">

	<!-- navbar -->
	<% include ../layouts/navbar.html %>

	<!-- container -->
	<div class="container" style="position: relative">
		<div class="row-fixed">
			<!-- tags configuration -->
			<div class="col-md-4">
				<div data-spy="affix" data-offset-top="0" style="width:350px">
					<h3>Oi, <%= user.name %>!</h3>
					<h5>Selecione aqui os assuntos de seu interesse.</h5>
					<form id="tags" class="form" onsubmit="return false;">
						<br>
						<div>
<!-- 								<button id="btn-preview" class="btn btn-large btn-block btn-info btn-lg">
								<strong>Prever</strong> Mudanças
							</button>
-->								<button class="btn btn-large btn-block btn-primary btn-lg" type="submit">
								<strong>Confirmar</strong> Mudanças
							</button>
							<a class="btn btn-large btn-block btn-danger btn-lg" href="/" type="button">
								<strong>Cancelar</strong> Mudanças
							</a>
						</div>
					</form>
				</div>
			</div>
			<!-- posts -->
			<div class="col-md-8 col-offset-4">
				<div id="posts" class="posts">
					<h3 id="posts-desc">Últimas atualizações dos assuntos que você segue...</h3>
					<ul></ul>
					<h3 id="no-posts-msg" style="display: none; color: #888">
						Ops! Você não está seguindo tag nenhuma. :/</h3>
					<hr>
				</div>
			</div>
		</div>
	</div>

	<script id="template-tagview" type="text/template">
		add stuff here in the future
	</script>
	<script id="template-postview" type="text/template">
		add stuff here in the future
	</script>

	<script data-main="<%= staticUrl('js','home.min') %>" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.8/require.min.js"></script>
</body>
