{% extends '../sidebared.html' %}
{% set requireView="lab" %}

{% import '../macros/user.html' as userMacros %}
	
{% block bodyEnd %}
	{% parent %}
	<script>_lab={id:'{{''+group._id}}'}; conf={postsRoot:'{{ '/api/labs/'+group._id+'/posts' }}',groupId:'{{ ''+group._id }}'};</script>
{% endblock %}

{% block sidebarContent %}
	<div class="box groupProfile">
		<div class="head">
			<a href="{{ group.path }} "><span class="name">{{ group.name }}</span></a>
		</div>
		<div class="body">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat.
		</div>
	</div>

	<div class="box userList">
		<div class="head">
			Membros: <span class="right">{{ group.members.count }}</span>
		</div>
		<ul class="body">
			{% for member in group.members.docs %}
				<li>{{ userMacros.renderUser(member) }}</li>
			{% endfor %}

			<br>

			<input type="text" id="trust" />
			<button id="istilldidnt">Add myself</button>
		</ul>
	</div>

	<div class="box tagList">
		<div class="head">
			Próximos eventos: <span class="right">3</span>
		</div>
		<ul class="body">
			<li>
				<a href="#">Simulado de Matemática <span style="float:right;padding: 3px 4px;" class="label label-danger">AMANHÃ</span></a>
			</li>
			<li>
				<a href="#">Encontro IV do Grupo <span style="float:right;padding: 3px 4px;" class="label label-warning">29/03</span></a>
			</li>
			<li>
				<a href="#">1ª fase da OBMEP 2014 <span style="float:right;padding: 3px 4px;" class="label label-default">14/04</span></a>
			</li>
		</ul>
	</div>
{% endblock %}
