{% extends '../sidebared.html' %}
{% set requireView="lab" %}

{% import '../macros/user.html' as userMacros %}

{% block head %}
	{% parent %}
{% endblock %}

{% block sidebarContent %}
{% endblock %}

{% set requireView="lab" %}

	
{% block bodyEnd %}
	{% parent %}
	<script>_lab={id:'{{''+group._id}}'}; conf={postsRoot:'{{ '/api/labs/'+group._id+'/posts' }}',groupId:'{{ ''+group._id }}'};</script>
{% endblock %}

{% block sidebarContent %}
	<div class="box">
		<div class="head">
				<a href="/" class="btnGoBack">Voltar para Timeline</a>
		</div>
	</div>

	<div class="transparentBox">

		<h1>Crie o seu laboratório.</h1>

		<h2>Selecione os tipos de publicação</h2>

		<h3>Selecione os tipos de publicação</h3>

		<h4>Selecione os tipos de publicação</h4>

		<p>
			Você pode selecionar até 4 tipos entre os disponíveis. Escolha aqueles que
			melhor se adaptarem as necessidades do seu grupo.
		</p>

	</div>
{% endblock %}

{% block mainContent %}
	<form method="post" action="/api/labs">
		<h3>Crie um Lab</h3>
		<input type="text" name="name" placeholder="O Nome para o seu laboratório" />
		<br>
		<input type="checkbox" name="" placeholder="" value="public_lab" /> <label>Grupo Público</label>
		<br>
		<input type="checkbox" placeholder="" value="allow_events" /> <label>Permitir Eventos</label>
		<br>
		<input type="checkbox" placeholder="" value="public_lab" /> <label>Moderar a entrada de usuários</label>
		<br>
		<h2>Escolha até 4 tipos de post</h2>
		<div>
			<input type="checkbox" name="post_type" value="tipoA" /> <label>Tipo A</label>
			<br>
			<input type="checkbox" name="post_type" value="tipoB" /> <label>Tipo B</label>
			<br>
			<input type="checkbox" name="post_type" value="tipoC" /> <label>Tipo C</label>
			<br>
			<input type="checkbox" name="post_type" value="tipoD" /> <label>Tipo D</label>
			<br>
		</div>
		<input type="hidden" name="_csrf" value="{{token}}">
		
		<button type="submit">Criar Laboratório</button>
	</form>
{% endblock %}