<% layout('../stdbody') -%>

<% stylesheet(getMediaUrl('css','about_pages.min.css')) -%>

<body data-page="profile">

	<% include ../layouts/navbar.html %>

	<section>
		<section class="side">
			<div>
				<div class="thumbnail">
					<img alt="seu avatar" width="238" src="http://www.msnbc.com/sites/msnbc/files/x_30_lw_obamaharvard2_120822.jpg">
				</div>
				<div class="info-groups">
					<div class="info-group">
						<h2>Barack Obama</h2>
					</div>
					<div class="info-group">
						<h3>Honolulu, Hawaii, US</h3>
					</div>
					<div class="info-group">
						<h3>18 anos</h3>
					</div>
				</div>

				<div class="social">
					<a href="#" data-toggle="tooltip" title="Personal website">
						<i class="icon-home"></i>
					</a>
					<a href="#" data-toggle="tooltip" title="Twitter">
						<i class="icon-twitter"></i>
					</a>
					<a href="#" data-toggle="tooltip" title="Facebook">
						<i class="icon-facebook"></i>
					</a>
					<a href="#" data-toggle="tooltip" title="Github">
						<i class="icon-github"></i>
					</a>
					<a href="#" data-toggle="tooltip" title="Google+">
						<i class="icon-google-plus"></i>
					</a>
					<a href="#" data-toggle="tooltip" title="LinkedIn">
						<i class="icon-linkedin"></i>
					</a>
				</div>

				<div class="badges">
					<a href="#" data-toggle="tooltip" title="Peace Nobel 2010">
						<i class="icon-certificate gold"></i>
					</a><br>
					<a href="#" data-toggle="tooltip" title="Medalha de Prata - OBQ 2013">
						<i class="icon-certificate silver"></i>
					</a>
					<a href="#" data-toggle="tooltip" title="Medalha de Ouro - OBMEP 2011">
						<i class="icon-certificate gold"></i>
					</a>
					<a href="#" data-toggle="tooltip" title="Medalha de Bronze - OBA 2010">
						<i class="icon-certificate copper"></i>
					</a>
				</div>
			</div>
		</section>

		<section class="main">
			<section>
				<div class="alert alert-warning">
					<i class="icon-trophy"></i>
					Venceu Eleição de Presidente dos Estados Unidos em 2008
				</div>
				<div class="alert alert-warning">
					<i class="icon-trophy"></i>
					Re-eleito Presidente dos Estados Unidos em 2012
				</div>
			</section>
			<section>
				<h3>Pode te ajudar com:</h3>
				<ul>
					<li>Diplomacia Internacional</li>
					<li>Espionagem de Líderes Mundiais</li>
				</ul>
			</section>
			<section>
				<h3>Segue:</h3>
				<span class="label label-success">Diplomacia</span>
				<span class="label label-success">Simulações ONU</span>
				<span class="label label-success">Presidentes</span>
				<span class="label label-success"></span>
				<span class="label label-success"></span>
				<span class="label label-success"></span>
			</section>
			
			<section>
				<h2>Idiomas</h2>
				<ul>
					<li>Inglês: fluente</li>
					<li>Espanhol: nem um pouco</li>
					<li>Francês: quem dera</li>
				</ul>
			</section>
			
			<section>
				<h2>Livros</h2>

			</section>

		</section>
	</section>

	<% include ../layouts/footer.html %>
	
<script data-main="<%= getMediaUrl('js','all.min.js') %>" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.8/require.min.js"></script>
</body>