{% extends '../sidebared.html' %}
{% set requireView="timeline" %}

{% import '../macros/user.html' as userMacros %}

{% block bodyEnd %}
	{% parent %}
	<script>conf={postsRoot:'/api/me/timeline/posts'};</script>
{% endblock %}

{% block sidebarContent %}
	
	<div class="box labList">
		<div class="head">
			Laboratórios: <div class="right">{{ user_profile.groups.count }}</div>
		</div>
		<ul class="body groupList">
			{% if user_profile.groups.docs.length %}
				{% for group in user_profile.groups.docs %}
					<li><a href="{{ group.path }}">{{ group.name }}</a></li>
				{% endfor %}
			{% else %}
				<div class="emptyBoxMsg">Você não está em nenhum laboratório.</div>
			{% endif %}
		</ul>
	</div>

	<div class="box tagList">
		<div class="head">
			Tags que você segue: <div class="right"> 4</div>
		</div>
		<ul class="body">
			<li><a href="#">
				<i class="tagIcon icon-square"></i>
				<span class="tagName">Application</span>
			</a></li>
			<li><a href="#">
				<i class="tagIcon icon-square"></i>
				<span class="tagName">Intercâmbio</span>
			</a></li>
			<li><a href="#">
				<i class="tagIcon icon-square"></i>
				<span class="tagName">Olimpíadas de Matemática</span>
			</a></li>
			<li><a href="#">
				<i class="tagIcon icon-square"></i>
				<span class="tagName">Vestibular</span>
			</a></li>
		</ul>
	</div>

	<div class="box userList">
		<div class="head">
			Seguindo: <div class="right">{{ user_profile.following.count }}</div>
		</div>
		<ul class="body">
			{% if user_profile.following.docs.length %}
				{% for person in user_profile.following.docs %}
					<li>{{ userMacros.renderUser(person) }}</li>
				{% endfor %}
			{% else %}
				<div class="emptyBoxMsg">Você ainda não segue ninguém.</div>
			{% endif %}
		</ul>
	</div>

	<div class="box userList">
		<div class="head">
			Seguidores: <div class="right">{{ user_profile.followers.count }}</div>
		</div>
		<ul class="body">
			{% if user_profile.followers.docs.length %}
				{% for person in user_profile.followers.docs %}
					<li>{{ userMacros.renderUser(person) }}</li>
				{% endfor %}
			{% else %}
				<div class="emptyBoxMsg">Você ainda não tem nenhum seguidor.</div>
			{% endif %}
		</ul>
	</div>
{% endblock %}

{% block mainContent %}
<div id="results-col">
	<div class="box">
		<a href="#">Interessante | </a><a href="#">Seus Grupos | </a><a href="">Global</a>
		<div id="postInput"></div>
	</div>
	<div id="container"></div>

	<div id="posts-col">
		<div id="postsPlacement">
		</div>
	</div>
</div>
{% endblock %}