{% extends '../sidebared.html' %}

{#
{% block stylesheets %}
	<link rel="stylesheet" href="{{ getMediaUrl('css','timeline.min.css') }}" />
{% endblock %}
#}

{% block head %}
	{% parent %}
	<script>window.postsRoot='/api/me/timeline/posts';</script>
{% endblock %}

{% block sidebarContent %}

	<div class="box userList">
		<div class="head">
			Seguindo: {{ user.following.count }}
		</div>
		<ul class="body">
			{% for person in user.following.docs %}
				<li>{{ userMacros.renderUser(person) }}</li>
			{% endfor %}
		</ul>
	</div>

	<div class="box userList">
		<div class="head">
			Seguidores: {{ user.followers.count }}
		</div>
		<ul class="body">
			{% for person in user.followers.docs %}
				<li>{{ userMacros.renderUser(person) }}</li>
			{% endfor %}
		</ul>
	</div>

	<div class="box tags">
		<div class="head">
			Grupos: {{ user.groups.length }}
		</div>
		<ul class="body groupList">
			{% for group in user.groups %}
				<a href="{{ group.path }}">{{ group.profile.name }}</a>
			{% endfor %}
		</ul>
	</div>

	{% include '../layouts/footer.html' %}

{% endblock %}

{% block mainContent %}
<div class="flash-msgs"></div>
<div id="results-col">
	<div class="box">
	<a href="#">Interessante | </a><a href="#">Seus Grupos | </a><a href="">Global</a>
		<h2>Enviar uma msg para o seus seguidores</h2>
		<textarea id="inputPostContent" placeholder="Aqui ó"></textarea>
		<button data-action="send-post" type="submit">Enviar Post</button>
	</div>
	<div id="posts-col">
		<div class="placement">
			<h3 id="no-posts-msg" style="display: none; color: #888">
				Ops! Nenhum post visível. :s
			</h3>
		</div>
	</div>
</div>
{% endblock %}