{% extends '../sidebared.html' %}
{% set requireView="timeline" %}

{% import '../macros/user.html' as userMacros %}

{% block bodyEnd %}
	{% parent %}
	<script>conf={postsRoot:'/api/me/timeline/posts'};</script>
{% endblock %}

{% block sidebarContent %}

	<div class="box userList">
		<div class="head">
			Seguindo: {{ user.following.count }}
		</div>
		<ul class="body">
			{% for person in user.following.docs %}
				<li>{{ userMacros.renderUser(person) }}</li>
			{% endfor %}
		</ul>
	</div>

	<div class="box userList">
		<div class="head">
			Seguidores: {{ user.followers.count }}
		</div>
		<ul class="body">
			{% for person in user.followers.docs %}
				<li>{{ userMacros.renderUser(person) }}</li>
			{% endfor %}
		</ul>
	</div>
	
	<div class="box tags">
		<div class="head">
			Grupos: {{ user.groups.length }}
		</div>
		<ul class="body groupList">
			{% for group in user.groups %}
				<a href="{{ group.path }}">{{ group.name }}</a>
			{% endfor %}
		</ul>
	</div>
{% endblock %}

{% block mainContent %}
<div id="results-col">
	<div class="box">
		<a href="#">Interessante | </a><a href="#">Seus Grupos | </a><a href="">Global</a>
		<div id="postInput"></div>
	</div>
	<div id="container"></div>

	<div id="posts-col">
		<div id="postsPlacement">
		</div>
	</div>
</div>
{% endblock %}