
.cardsContainer ()
{
	@card-width: 245px;
	@card-margin: 19px;
	@cpr: 4; // cards-per-row
	text-align: center;

	// width: (@cpr*@card-width+((@cpr)-1)*@card-margin-right);
	margin-left: @card-margin;

	.postInputForm { display: none; }

	.cardView {
		position: relative;
		text-align: left;

		display: inline-block;
		width: @card-width; margin-right: @card-margin;
		height: 200px; margin-bottom: @card-margin;
		vertical-align: top;
	
		cursor: pointer;
		
		border: 1px solid #EEE;
		border-bottom: 1px solid #DDD;
		background: white;
		font-family: museo-sans;

		&:hover {
			border-color: #DDD;
			border-bottom-color: #BBB;
		}

		.cardHeader {
			padding: 10px;
			font-size: 12px;
			height: 30px;

			.cardType {
				text-transform: uppercase;
				color: #888;
				&:hover { color: #666 };
			}

			.icon-comment-o {margin-top: -3px;}

			.iconStats {
				float: right;

				& > div {
					display: inline-block;
					cursor: pointer;
					vertical-align: middle;
					color: #888;
					font-size: 12px;
					margin-right: 7px;
					list-style: none;

					&:hover {
						color: #444;
					}

					.tooltip {
						font-size: 11px;
						.tooltip-inner {
							.rounded(2px);
							padding-top: 1px;
						}
					}
				}

				i { font-size: 13px; vertical-align: middle; }

				.icon-red {
					color: red;
				}

			}
		}

		.cardCover {
			position: absolute;
			top: 0px;
			left: 0;
			// height: 160px;
			bottom: 0;
			right: 0;
			// background: rgba(0,0,0,.5);
			// display: none;
			opacity: 0;
			.transition;
			padding: 5px;

			.tag {

			}
		}

		&:hover .cardCover { opacity: 1; }

		.cardBody {
			width: 100%;
			word-wrap: break-word;
			height: 130px;
			overflow: hidden;
			padding: 10px 10px;
			font-size: 20px;
			font-weight: 500;

			a {
				text-decoration: none;
			}
		}

		.cardFoot {
			border-top: 1px solid #EEE;
			padding: 0 10px;
			line-height: 36px;

			time {
				color: #888;
				font-size: 12px;
			}

			.authorship {
				float: right;
				display: table;
				margin-right: 5px;
				font-size: 12px;

				.username {
					text-decoration: none;
					color: #444;
				}

				.avatarWrapper {
					margin: 0 5px;
					border: 1px solid #EFEFEF;
					.rounded(5px);
					width: 25px;
					height: 25px;
				}
			}
		}

	}

	// [data-tag=application] {
	// 	&:hover {
	// 		border-color: @COLOR3;
	// 		// outline: 2px solid @COLOR3;
	// 	}
	// }

	// [data-tag=olimpiada] {
	// 	&:hover {
	// 		border-color: transparent;
	// 		outline: 2px solid @COLOR4;
	// 	}
	// }

}