
// body:not(.fixedScroll) > .cardsNav {
// 	display: none;

// }

// body #globalContainer > .cardsNav {
// 	display: none;
// }

// .cardsNav {
// 	// position: fixed;
// 	// top: @navbar-height;
// 	// width: 100%;
// 	z-index: 4;
// 	padding-right: 18px;
// 	margin: 0;

// 	li.active {
// 		font-weight: bold;
// 	}
// }

nav.bar {
	.box-shadow(5px, .4);
}

.cardsNav {
	position: fixed;
	width: 100%;
	color: white;
	background: desaturate(@COLOR1,20%);
	height: 60px;
	font-family: museo-sans;
	.box-shadow(5px, .4);
	padding: 0 20px;
	top: @navbar-height;
	z-index: 19;
	// border-bottom: 1px solid #DDD;

	li {
		position: relative;
		margin: 0 20px;
		list-style: none;
		line-height: 60px;
		display: inline-block;
		font-size: 12px;
		text-transform: uppercase;
		text-align: center;
		
		.arrow {
			line-height: 60px;
			content: '';
			border: 8px solid transparent;
			// border-bottom-color: #F0F0F0;
			position: absolute;
			bottom: 0;
			display: inline;
			margin-left: -7px;
		}
		
		&.active {
			font-weight: bold;
		}
		&.active .arrow { border-bottom-color: #EEE; }
	}

	.right {
		float: right;
		display: inline-block;

		li > i {
			font-size: 20px;
			// font-weight: bold;
		}
	}
}

// body:not(.fixedScroll) > .cardsNav {
// 	height: 50px;
// 	z-index: 4;
// 	padding-right: 18px;
// 	margin: 0;

// }

// body.fixedScroll > .cardsNav {
// 	z-index: 4;
// 	padding-right: 18px;
// 	margin: 0;

// 	li.active {
// 		font-weight: bold;
// 	}

// 	position: absolute;
// 	z-index: 22;
// 	padding-right: 18px;
// 	/* width: 100%; */
// 	margin: 0 auto;
// 	width: 600px;
// 	border: none;
// 	height: 60px;
// 	left: 50%;
// 	margin-left: -300px;
// 	padding: 0;
// 	background: none;
// 	top: 0;

// 	li {
// 		height: 100%;
// 		// line-height: @navbar-height;

// 		.arrow {
// 			top: 46px;
// 		}
// 	}

// 	li.active {

// 	}
// }

// .cardsNav.fixed ~ #cards {
// 	margin-top: 33px !important;
// }

#globalHead + .cardsNav {
	margin: 0 10px;
}


.cardsContainer ()
{
	text-align: center;

	&:not(.grid) {
		@block-card-width: 750px;
		@block-card-height: 145px;
		@block-card-margin: 250px;
		@block-card-margin-bottom: 23px;
		@block-card-body-fontsize: 20px;

		@block-header-height: 30px;
		@block-footer-height: 36px;
		
		.cardView {
			display: block;
			width: @block-card-width;
			height: @block-card-height;
			margin: 0 auto @block-card-margin-bottom;

			.cardHeader {
				height: @block-header-height;
			}

			.cardBody {
				padding: 20px;
				font-size: @block-card-body-fontsize;
				height: @block-card-height - @block-header-height - @block-footer-height - 4;
				span {
					whitespace: nowrap;
				}
			}

			.cardFoot {
				line-height: @block-footer-height;
			}
		}
	}

	&.grid {
		@square-card-width: 234px;
		@square-card-height: 200px;
		@square-card-margin: 28px;
		@square-card-margin-bottom: 28px;
		@square-card-body-fontsize: 17px;

		@square-header-height: 30px;
		@square-footer-height: 36px;
		margin-left: @square-card-margin;
		
		.cardView {
			display: inline-block;
			width: @square-card-width; margin-right: @square-card-margin;
			height: @square-card-height; margin-bottom: @square-card-margin-bottom;

			.cardHeader {
				height: @square-header-height;
			}

			.cardBody {
				padding: 17px 20px;
				font-size: @square-card-body-fontsize;
				height: @square-card-height - @square-header-height - @square-footer-height - 4;
			}

			.cardFoot {
				line-height: @square-footer-height;
				.tags-inline { display: none; }
				time { float: left; }
			}
		}

		.cardView.cardIcon {
			font-size: 90px;
			line-height: @square-card-height;
			text-align: center;
			// i { font-size: 50px; }
			background: none;
			border: none;
			i { color: #888; .transition(); }
			i:hover { color: #666; }
		}
	}

	.cardView {
		position: relative;
		text-align: left;
		cursor: pointer;
		vertical-align: top;
		background: white;
		font-family: museo-sans;
		border: 1px solid #EEE;
		border-bottom: 1px solid #CCC;

		&:hover {
			// border-color: #D5d5d5;
			border-bottom-color: #AAA;
		}

		.cardHeader {
			padding: 10px;
			font-size: 12px;

			.cardType {
				text-transform: uppercase;
				color: #888;
				&:hover { color: #666 };
			}

			.icon-comment-o { margin-top: -3px; }

			.iconStats {
				float: right;

				& > div {
					display: inline-block;
					cursor: pointer;
					vertical-align: middle;
					color: #888;
					font-size: 12px;
					margin-right: 7px;
					list-style: none;

					&:hover {
						color: #444;
					}

					.tooltip {
						font-size: 11px;
						.tooltip-inner {
							.rounded(2px);
							padding-top: 1px;
						}
					}
				}

				i { font-size: 13px; vertical-align: middle; }

				.icon-red {
					color: red;
				}

			}
		}

		.cardBody {
			width: 100%;
			word-wrap: break-word;
			overflow: hidden;
			font-weight: 500;

			span {
				overflow: hidden;
				width: 100%;
				text-overflow: ellipsis;
				display: block;
				height: 100%;
			}

			a {
				text-decoration: none;
			}
		}

		.cardFoot {
			border-top: 1px solid #EEE;
			padding: 0 10px;

			time {
				color: #AAA;
				font-size: 12px;
				margin-right: 10px;
				float: right;
			}

			.authorship {
				float: right;
				display: table;
				margin-right: -5px;
				font-size: 12px;

				.username {
					text-decoration: none;
					color: #444;
				}

				.avatarWrapper {
					margin: 0 5px;
					border: 1px solid #EFEFEF;
					.rounded(15px);
					width: 25px;
					height: 25px;
				}
			}

			.tags-inline {
				display: table;
				margin-top: 1px;
				.tag {
					display: inline;
					font-size: 11px;
					padding: 5px 4px;
					border-bottom: 0;
					// background: transparent;
				}
			}
		}

		&:not(:hover) .cardFoot .tags-inline {
			.tag {
				font-weight: normal;
				color: #666;
				margin-right: 0;
				background: transparent;
				&::after {
					content: ",";
				}
			}
			.tag:last-child::after {
				content: "";
			}
		}

		&:hover .cardFoot .tags-inline {
		}

		&:hover {
			.username { color: #444; }
		}

		.cardCover {
			position: absolute;
			top: 0px;
			left: 0;
			// height: 160px;
			bottom: 0;
			right: 0;
			// background: rgba(0,0,0,.5);
			// display: none;
			opacity: 0;
			.transition;
			padding: 5px;

			.tag {

			}
		}

		&:hover .cardCover { opacity: 1; }
	}
}