
@import "../font-awesome/font-awesome.less";

i[class*=icon] {
	.fa-mixin;
	&.icon-large {
		.fa-mixin-lg;
	}
}

.fa-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(359deg); }
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); }
}
@-o-keyframes spin {
  0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(359deg); }
}
@-ms-keyframes spin {
  0% { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(359deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}


i.icon-cog { .fa-mixin-icon(cog); }
i.icon-bell { .fa-mixin-icon(bell); }
i.icon-bell-o { .fa-mixin-icon(bell-o); }
i.icon-search { .fa-mixin-icon(search); }
i.icon-question { .fa-mixin-icon(question); }
i.icon-bullhorn { .fa-mixin-icon(bullhorn); }
i.icon-angle-down { .fa-mixin-icon(angle-down); }
i.icon-check-square { .fa-mixin-icon(check-square); }
i.icon-minus-square { .fa-mixin-icon(minus-square); }
i.icon-square-o { .fa-mixin-icon(square-o); }
i.icon-info { .fa-mixin-icon(info); }

i.icon-twitter { .fa-mixin-icon(twitter); }
i.icon-facebook { .fa-mixin-icon(facebook); }
i.icon-github { .fa-mixin-icon(github); }
i.icon-google-plus { .fa-mixin-icon(google-plus); }
i.icon-skype { .fa-mixin-icon(skype); }
i.icon-linkedin { .fa-mixin-icon(linkedin); }
i.icon-archive { .fa-mixin-icon(archive); }
i.icon-home { .fa-mixin-icon(home); }

i.icon-tag { .fa-mixin-icon(tag); }
i.icon-tags { .fa-mixin-icon(tags); }
i.icon-eye { .fa-mixin-icon(eye); }
i.icon-comments-o { .fa-mixin-icon(comments-o); }
i.icon-certificate { .fa-mixin-icon(certificate); }
i.icon-trophy { .fa-mixin-icon(trophy); }
i.icon-user { .fa-mixin-icon(user); }
i.icon-group { .fa-mixin-icon(users); }
i.icon-sign-out { .fa-mixin-icon(sign-out); }
i.icon-board { .fa-mixin-icon(thumb-tack); }
i.icon-power-off { .fa-mixin-icon(power-off); }
i.icon-print { .fa-mixin-icon(print); }
i.icon-agenda { .fa-mixin-icon(calendar); }
i.icon-guia { .fa-mixin-icon(compass); }
i.icon-trash { .fa-mixin-icon(trash-o); }
i.icon-edit { .fa-mixin-icon(pencil); }
i.icon-bulb { .fa-mixin-icon(lightbulb-o); }
i.icon-rocket { .fa-mixin-icon(rocket); }
i.icon-flask { .fa-mixin-icon(flask); }
i.icon-bolt { .fa-mixin-icon(bolt); }
i.icon-square { .fa-mixin-icon(square); }
i.icon-puzzle { .fa-mixin-icon(puzzle-piece); }
i.icon-cog { .fa-mixin-icon(cog); }
i.icon-exclamation { .fa-mixin-icon(exclamation); }

i.icon-spin { .fa-spin(); }