
@import "../components/postbody.less";

.fullPostView {
	position: relative;
	z-index: 1000;

	margin: 0 auto;
	padding-bottom: 20px;
	display: table;
	top: -20px;

	.sidebarToggle {
		position: absolute; 
		right: -30px;
		z-index: 1002;
		top: 5px;
		width: 30px;
		color: white;
		opacity: .8;
		text-align: center;
		cursor: pointer;
		&:hover { opacity: 1};
		font-size: 17px;
		i:before { content: @fa-var-minus; }
	}
	&.full .sidebarToggle i:before {
		content: @fa-var-plus;
	}

	.postView {
		@postWidth: 760px;

		font-family: museo-sans;
		position: relative;
		z-index: 1002;
		width: @postWidth;
		float: left;
		background: white;

		.postContent {
			overflow: hidden;
			padding: 30px 50px;

			.postTitle, .postBody {
				margin-bottom: 20px;
			}
			
			.postTitle {
				color: #222;
				font-size: 40px;
				padding-bottom: 10px;
				border-bottom: 1px solid #EEE;
			}

			& > time {
				float: right;
				color: #666;
			}

			.postBody {
				.postBodyView;
	
				& > img, & > iframe {
					width: @postWidth;
					margin: 20px -50px;
					border: none;

					& + small {
						display: block;
						margin-top: -10px;
						font-size: 13px;
						margin-bottom: 20px;
					}
				}

				& > pre {
					width: 700px;
					margin: 15px -20px;
				}
				pre {
					border: 1px solid #EEE;
					background: #FAFAFA;
					.rounded(0);
				}
			}
		}

		.postFoot {
			border-top: 1px solid #DDD;

			overflow: hidden;
			background: #EEE;

			.commentInputSection .mediaUser,
			.commentWrapper .mediaUser {
				.rounded(0);
				width: 30px;
				height: 30px;
			}
			.info {
				font-size: 20px;
				padding: 10px;
			}

			.commentSection {
				// background: white;
				font-size: 13px;

				.commentList {
					list-style: none;
					padding: 0 5px;

					.commentWrapper:last-child {
						padding-bottom: 5px;
					}
					.commentWrapper {
						padding-top: 5px;
						overflow-wrap: break-word;

						.msgBody {
							vertical-align: middle;
							display: inline-block;
							.no-box-shadow;
							background: white;
							outline: none;
							font-size: 13px;
							padding: 5px;
							width: 100%;
							position: relative;

							border: 1px solid #DDD;

							.arrow {
								content: '';
								border: 5px solid transparent;
								border-top-color: #DDD;
								bottom: -10px;
								position: absolute;
								left: 8px;
							}
						}

						.infoBar {
							position: relative;
							padding: 5px;
							font-size: 12px;

							.author {
								color: #666;
								text-decoration: none;

								&:hover {
									color: #333;
								}

								.mediaUser {
									height: 20px;
									width: 20px;
									vertical-align: middle;
									margin-right: 5px;
									border: 1px solid #DDD;
									.rounded(15px);

									.mediaUserAvatar {
										.rounded(15px);
									}
								}

								.name {
									vertical-align: middle;
								}
							}

							.time {
								font-size: 11px;
							}
						}
					}
					.commentWrapper:target {
						background: yellow;
					}
				}

				.commentInputSection {
					padding: 3px 5px 3px 5px;
					border-top: 1px solid #DDD;
					// background: #EEE;

					td {
						vertical-align: top;
					}

					td:not(:last-child) {
						padding-right: 5px;
					}
					
					.mediaUser {
						border: 1px solid #DDD;
					}

					.commentInputTd {
						width: 100%;
					}
					.commentInput {

						vertical-align: middle;
						display: inline-block;
						border: 1px solid #DDD;
						.no-box-shadow;
						outline: none;
						font-size: 13px;
						padding: 5px;

						width: 100%;
						height: 30px;
						&:focus {
							border-color: #08C;
							height: 35px;
						}
						resize: vertical;
					}

					[data-action=send-comment] {
						display: inline-block;
						.high-xbtn(white, @COLOR2);
						font-size: 12px;
						.high-xbtn-padding(4px, 10px, 2px);
					}
				}
			}

			.optionBtns {
				float: right;
				display: inline-block;
				position: absolute;
				right: 5px; top: 0px;
				z-index: 4;
				
				.transition(all, .2s, linear);
				opacity: .5;
				&:hover {
					opacity: 1;
				}

				[data-action=remove-post],
				[data-action=edit-post] {
					.full-reset-button;
					padding-left: 3px;
					vertical-align: middle;
					padding-right: 3px;
					font-size: 105%;
					font-weight: bolder;
					color: #888;
					opacity: .6;
					&:hover {
						color: #444;
					}
					&:active {

						outline: none;
					}
				}
			}
		}
	}
	
	.leftOutBox {
		position: absolute;
		width: 100px;
		left: -105px;
		top: 19px;

		& > * {
			text-align: right;
			opacity: .9;
			line-height: 23px;
			color: white;
			cursor: pointer;
			&:hover {
				opacity: 1;
			}
		}
		
		.eyeBox {
			cursor: default;
		}
	}


	.postSidebar {
		position: relative;
		font-family: museo-sans;
		padding-bottom: 20px;

		z-index: 1001;
		float: left;
		width: 340px;
		background: #333;
		text-align: left;
		color: white;
		& > div {
			padding: 10px;
		}

		.transition(margin-left, 500ms, linear);
			
		.postStats {
			font-size: 14px;

			.tag {
				border-bottom: 2px solid darken(@COLOR2, 30%);
			}
		}

		.tags {
			// background: #EFEFEF;
			// color: #444;
			// border-left: 1px solid #DDD;
			border-bottom: 1px dashed #666;
		}

		.authorInfo {
			padding: 20px;
			text-align: left;
			background: #666;
			background: #222;
			margin-bottom: 20px;
			// border-bottom: 1px dashed #444;
			// border-top: 1px dashed #444;
	
			.identification {

				.avatarWrapper {
					height: 35px;
					width: 35px;
					.rounded(20px);
					margin-right: 10px;
				}

				.username {
					font-weight: bold;
					color: inherit;
					text-decoration: none;
					vertical-align: middle;
				}
			}

			.bio {
				margin: 10px 0;
				font-size: 13px;
			}
			.btn-follow { float: right; }
		}

		.footer {
			background: #888;
		}

		.flagOption {
			cursor: pointer;
			color: #AAA;
			&:hover { color: #BBB; }
		}

		i { margin: 0 5px; }
	}

	&.full .postSidebar {
		margin-left: -400px;
	}

	.blackout {
		z-index: 1000;
		position: fixed;
		top: 0; right: 0; bottom: 0; left: 0;
		background: rgba(0,0,0,0.9);
	}
}
