{% extends '../stdbody.html' %}

{% block head %}
	{% parent %}
	<link rel="stylesheet" href="{{ getMediaUrl('css','about_pages.min.css') }}" />
{% endblock %}

{% block body %}
<body data-page="about">

	{% include '../layouts/navbar.html' %}

	<section id="parcerias">
		<section>
			<div class="col-md-7">
				<h1><strong>QI Labs</strong></h1>
			</div>
		</section>
		<h3>Felipe Aragão Pires</h3>
		<p>Founder & Programador</p>
		<h3>Michelle Malher</h3>
		<p>Editora</p>
		<h3>Viviane Lobo</h3>
		<p></p>
		<h3>Mariam Topeshashvili</h3>
		<p></p>
		<hr>

		<div>
			<h2><strong>Parcerias</strong></h2>
			<img height=100 src="{{ getMediaUrl('images/di.jpg') }}"></img>
			<img width=150 src="{{ getMediaUrl('images/tc.png') }}"></img>
		</div>
	</section>

</body>
{% endblock %}