
{% extends 'stdbody.html' %}

{% import 'macros/tags.html' as tagMacros %}

{% block head %}
{% parent %}
	{{ tagMacros.stylesheet(getMediaUrl('css','sn_pages.min.css')) }}
{% endblock %}

{% block body %}

	{% include 'layouts/navbar.html' %}
	<div id="globalContainer">
		<div class="flash-msgs"></div>
		<div id="cards">
			<div id="resultsContainer">

	<div class="timeline" data-reactid=".1">
		<div class="cardView" data-reactid=".1.0:1">
			<div class="cardHeader" data-reactid=".1.0:1.0">
				<span class="cardType" data-reactid=".1.0:1.0.0">AVISO</span>

				<div class="iconStats" data-reactid=".1.0:1.0.1">
					<div data-reactid=".1.0:1.0.1.0">
						<i class="icon-heart icon-red"></i>
						<span data-reactid=
						".1.0:1.0.1.0.2">1.2k</span>
					</div>

					<div data-reactid=".1.0:1.0.1.1">
						<i class="icon-comment-o"></i>
						<span data-reactid=
						".1.0:1.0.1.1.2">43</span>
					</div>
				</div>
			</div>

			<div class="cardBody" data-reactid=".1.0:1.1">
				<span data-reactid=".1.0:1.1.0">Estamos lançando mais uma guia
				para vocês: Modelo Simulação ONU</span>
			</div>

			<div class="cardFoot" data-reactid=".1.0:1.2">
				<div class="authorship" data-reactid=".1.0:1.2.0">
					<div class="avatarWrapper" data-reactid=".1.0:2.2.0.0">
						<a data-reactid=".1.0:2.2.0.0.0" href=
						"/u/felipearagaopires"></a>

						<div class="avatar" data-reactid=".1.0:2.2.0.0.0.0"
						style=
						"background:url(https://graph.facebook.com/michelle.malher/picture);">
						</div>
					</div><a class="username" data-reactid=".1.0:1.2.0.1" href=
					"/u/felipearagaopires">Michelle, QI Labs</a>
				</div><time data-reactid=".1.0:1.2.1" data-time-count=
				"1395979570421" data-time-long="true">há 15 horas</time>
			</div>
		</div>

		<div class="cardView" data-reactid=".1.0:2">
			<div class="cardHeader" data-reactid=".1.0:2.0">
				<span class="cardType" data-reactid=
				".1.0:2.0.0">EXPERIÊNCIA</span>

				<div class="iconStats" data-reactid=".1.0:2.0.1">
					<div data-reactid=".1.0:2.0.1.0">
						<i class="icon-heart"></i>
						<span data-reactid=
						".1.0:2.0.1.0.2">1</span>
					</div>

					<div data-reactid=".1.0:2.0.1.1">
						<i class="icon-comment-o"></i>
						<span data-reactid=
						".1.0:2.0.1.1.2">0</span>
					</div>
				</div>
			</div>

			<div class="cardBody" data-reactid=".1.0:2.1">
				<span data-reactid=".1.0:2.1.0">Anotações da Minha Primeira
				Viagem Internacional: Sudão do Sul</span>
			</div>

			<div class="cardFoot" data-reactid=".1.0:2.2">
				<div class="authorship" data-reactid=".1.0:2.2.0">
					<div class="avatarWrapper" data-reactid=".1.0:2.2.0.0">
						<a data-reactid=".1.0:2.2.0.0.0" href=
						"/u/felipearagaopires"></a>

						<div class="avatar" data-reactid=".1.0:2.2.0.0.0.0"
						style=
						"background:url(https://graph.facebook.com/ivo.paulo.lima/picture);">
						</div>
					</div><a class="username" data-reactid=".1.0:2.2.0.1" href=
					"/u/felipearagaopires">Ivo Lima</a>
				</div><time data-reactid=".1.0:2.2.1" data-time-count=
				"1395979551719" data-time-long="true">há 15 horas</time>
			</div>
		</div>

		<div class="cardView" data-reactid=".1.0:3">
			<div class="cardHeader" data-reactid=".1.0:3.0">
				<span class="cardType" data-reactid=
				".1.0:3.0.0">PUBLICAÇÃO</span>

				<div class="iconStats" data-reactid=".1.0:3.0.1">
					<div data-reactid=".1.0:3.0.1.0">
						<i class="icon-heart icon-red"></i>
						<span data-reactid=
						".1.0:3.0.1.0.2">0</span>
					</div>

					<div data-reactid=".1.0:3.0.1.1">
						<i class="icon-comment-o"></i>
						<span data-reactid=
						".1.0:3.0.1.1.2">0</span>
					</div>
				</div>
			</div>

			<div class="cardBody" data-reactid=".1.0:3.1">
				<span data-reactid=".1.0:3.1.0">Apostila de Cryptografia que eu
				tô lendo: <a href=
				"https://9d0df72831e4b345bb93-4b37fd03e6af34f2323bb971f72f0c0d.ssl.cf5.rackcdn.com/Crypto101March2014.pdf">
				...0d.ssl.cf5.rackcdn.com/Crypto101March2014.p...</a></span>
			</div>

			<div class="cardFoot" data-reactid=".1.0:3.2">
				<div class="authorship" data-reactid=".1.0:3.2.0">
					<div class="avatarWrapper" data-reactid=".1.0:3.2.0.0">
						<a data-reactid=".1.0:3.2.0.0.0" href=
						"/u/felipearagaopires"></a>

						<div class="avatar" data-reactid=".1.0:3.2.0.0.0.0"
						style=
						"background:url(https://graph.facebook.com/100000366187376/picture);">
						</div>
					</div><a class="username" data-reactid=".1.0:3.2.0.1" href=
					"/u/felipearagaopires">Felipe Aragão</a>
				</div><time data-reactid=".1.0:3.2.1" data-time-count=
				"1395711637945" data-time-long="true">há 3 dias</time>
			</div>
		</div>

		<div class="cardView" data-tag="application" data-reactid=".1.0:4">
			<div class="cardCover"><span class="tag" data-tag-bg="application">Application</span></div>
			<div class="cardHeader" data-reactid=".1.0:4.0">
				<span class="cardType" data-reactid=".1.0:4.0.0">
					PERGUNTA

					<div data-reactid=".1.0:5.0.1.2" style=
					" /* color: #2ecc71; */ display: inline;">
						<span data-reactid=".1.0:5.0.1.2.1">&nbsp;</span>
					</div>
				</span>

				<div class="iconStats" data-reactid=".1.0:4.0.1">
					<div data-reactid=".1.0:4.0.1.0">
						<i class="icon-heart"></i>
						<span data-reactid=
						".1.0:4.0.1.0.2">1</span>
					</div>
					<div data-reactid=".1.0:4.0.1.1">
						<i class="icon-comment-o"></i>
						<span data-reactid=
						".1.0:4.0.1.1.2">0</span>
					</div>

					<div data-reactid=".1.0:5.0.1.2" style=
					" /* color: #2ecc71; */">
						<i class="icon-bulb"></i>
						<span data-reactid=".1.0:5.0.1.2.2">1</span>
					</div>
				</div>
			</div>

			<div class="cardBody" data-reactid=".1.0:4.1">
				<span data-reactid=".1.0:4.1.0">Existe idade mínima para
				aplicar?</span>
			</div>

			<div class="cardFoot" data-reactid=".1.0:4.2">
				<div class="authorship" data-reactid=".1.0:4.2.0">
					<div class="avatarWrapper" data-reactid=".1.0:4.2.0.0">
						<a data-reactid=".1.0:4.2.0.0.0" href=
						"/u/felipearagaopires"></a>

						<div class="avatar" data-reactid=".1.0:4.2.0.0.0.0"
						style=
						"background:url(https://graph.facebook.com/rennan.gaio/picture);">
						</div>
					</div><a class="username" data-reactid=".1.0:4.2.0.1" href=
					"/u/felipearagaopires">Garoto Precoce</a>
				</div><time data-reactid=".1.0:4.2.1" data-time-count=
				"1395703845022" data-time-long="true">há 3 dias</time>
			</div>
		</div>

		<div class="cardView" data-reactid=".1.0:5">
			<div class="cardHeader" data-reactid=".1.0:5.0">
				<span class="cardType" data-reactid=".1.0:5.0.0">DICA</span>

				<div class="iconStats" data-reactid=".1.0:5.0.1">
					<div data-reactid=".1.0:5.0.1.0">
						<i class="icon-heart icon-red"></i>
						<span data-reactid=
						".1.0:5.0.1.0.2">28</span>
					</div>

					<div data-reactid=".1.0:5.0.1.1">
						<i class="icon-comment-o"></i>
						<span data-reactid=
						".1.0:5.0.1.1.2">4</span>
					</div>
				</div>
			</div>

			<div class="cardBody" data-reactid=".1.0:5.1">
				<span data-reactid=".1.0:5.1.0">Conheça sites para te ajudar na
				reta final de preparação para o ENEM 2014</span>
			</div>

			<div class="cardFoot" data-reactid=".1.0:5.2">
				<div class="authorship" data-reactid=".1.0:5.2.0">
					<div class="avatarWrapper" data-reactid=".1.0:5.2.0.0">
						<a data-reactid=".1.0:5.2.0.0.0" href=
						"/u/felipearagaopires"></a>

						<div class="avatar" data-reactid=".1.0:5.2.0.0.0.0"
						style=
						"background:url(https://graph.facebook.com/vivianeplobo/picture);">
						</div>
					</div><a class="username" data-reactid=".1.0:5.2.0.1" href=
					"/u/felipearagaopires">Viviane Lobo</a>
				</div><time data-reactid=".1.0:5.2.1" data-time-count=
				"1395692324054" data-time-long="true">há 3 dias</time>
			</div>
		</div>

		<div class="cardView" data-tag="olimpiada" data-reactid=".1.0:7">
			<div class="cardCover"><span class="tag" data-tag-bg="olimpiada">Olimpíada de Matemática</span></div>
			<div class="cardHeader" data-reactid=".1.0:7.0">
				<span class="cardType" data-reactid=
				".1.0:7.0.0">ACHIEVEMENT</span>

				<div class="iconStats" data-reactid=".1.0:7.0.1">
					<div data-reactid=".1.0:7.0.1.0">
						<i class="icon-heart"></i>
						<span data-reactid=
						".1.0:7.0.1.0.2">2k</span>
					</div>

					<div data-reactid=".1.0:7.0.1.1">
						<i class="icon-comment-o"></i>
						<span data-reactid=
						".1.0:7.0.1.1.2">3</span>
					</div>
				</div>
			</div>

			<div class="cardBody" data-reactid=".1.0:7.1">
				<span data-reactid=".1.0:7.1.0">Conquistei a Medalha de Ouro na
				IMO 2014</span>
			</div>

			<div class="cardFoot" data-reactid=".1.0:7.2">
				<div class="authorship" data-reactid=".1.0:7.2.0">
					<div class="avatarWrapper" data-reactid=".1.0:7.2.0.0">
						<a data-reactid=".1.0:7.2.0.0.0" href=
						"/u/felipearagaopires"></a>

						<div class="avatar" data-reactid=".1.0:7.2.0.0.0.0"
						style=
						"background:url(https://graph.facebook.com/100000366187376/picture);">
						</div>
					</div><a class="username" data-reactid=".1.0:7.2.0.1" href=
					"/u/felipearagaopires">Alguém Humilde</a>
				</div><time data-reactid=".1.0:7.2.1" data-time-count=
				"1394968329364" data-time-long="true">há 12 dias</time>
			</div>
		</div>

		<div class="cardView" data-reactid=".1.0:8">
			<div class="cardHeader" data-reactid=".1.0:8.0">
				<span class="cardType" data-reactid=
				".1.0:8.0.0" style="color: #222; font-weight: bold;">OPORTUNIDADE</span>

				<div class="iconStats" data-reactid=".1.0:8.0.1">
					<div data-reactid=".1.0:8.0.1.0">
						<i class="icon-heart"></i>
						<span data-reactid=
						".1.0:8.0.1.0.2">0</span>
					</div>

					<div data-reactid=".1.0:8.0.1.1">
						<i class="icon-comment-o"></i>
						<span data-reactid=
						".1.0:8.0.1.1.2">0</span>
					</div>
				</div>
			</div>

			<div class="cardBody" data-reactid=".1.0:8.1">
				<span data-reactid=".1.0:8.1.0">Abertas vagas para trabalho
				voluntário em ONG da Rocinha</span>
			</div>

			<div class="cardFoot" data-reactid=".1.0:8.2">
				<div class="authorship" data-reactid=".1.0:8.2.0">
					<div class="avatarWrapper" data-reactid=".1.0:8.2.0.0">
						<a data-reactid=".1.0:8.2.0.0.0" href=
						"/u/felipe.pires.14224"></a>

						<div class="avatar" data-reactid=".1.0:8.2.0.0.0.0"
						style=
						"background:url(https://graph.facebook.com/100007778376346/picture);">
						</div>
					</div><a class="username" data-reactid=".1.0:8.2.0.1" href=
					"/u/felipe.pires.14224">Felipe Pires</a>
				</div><time data-reactid=".1.0:8.2.1" data-time-count=
				"1394968029654" data-time-long="true">há 12 dias</time>
			</div>
		</div>

		<div class="cardView" data-reactid=".1.0:9">
			<div class="cardHeader" data-reactid=".1.0:9.0">
				<span class="cardType" data-reactid=
				".1.0:9.0.0">PUBLICAÇÃO</span>

				<div class="iconStats" data-reactid=".1.0:9.0.1">
					<div data-reactid=".1.0:9.0.1.0">
						<i class="icon-heart"></i>
						<span data-reactid=
						".1.0:9.0.1.0.2">5</span>
					</div>

					<div data-reactid=".1.0:9.0.1.1">
						<i class="icon-comment-o"></i>
						<span data-reactid=
						".1.0:9.0.1.1.2">1</span>
					</div>
				</div>
			</div>

			<div class="cardBody" data-reactid=".1.0:9.1">
				<span data-reactid=".1.0:9.1.0">Quando Putin cantou "Beijinho
				no Ombro" para o homem mais poderoso do mundo</span>
			</div>

			<div class="cardFoot" data-reactid=".1.0:9.2">
				<div class="authorship" data-reactid=".1.0:9.2.0">
					<div class="avatarWrapper" data-reactid=".1.0:9.2.0.0">
						<a data-reactid=".1.0:9.2.0.0.0" href=
						"/u/felipe.pires.14224"></a>

						<div class="avatar" data-reactid=".1.0:9.2.0.0.0.0"
						style=
						"background:url(https://graph.facebook.com/mariitope/picture);">
						</div>
					</div><a class="username" data-reactid=".1.0:9.2.0.1" href=
					"/u/felipe.pires.14224">Mariam Tope</a>
				</div><time data-reactid=".1.0:9.2.1" data-time-count=
				"1394767890654" data-time-long="true">há 14 dias</time>
			</div>
		</div>

		<div class="cardView" data-tag="application" data-reactid=".1.0:a">
			<div class="cardCover"><span class="tag" data-tag-bg="application">Application</span></div>
			<div class="cardHeader" data-reactid=".1.0:a.0">
				<span class="cardType" data-reactid=
				".1.0:a.0.0">EXPERIÊNCIA</span>

				<div class="iconStats" data-reactid=".1.0:a.0.1">
					<div data-reactid=".1.0:a.0.1.0">
						<i class="icon-heart"></i>
						<span data-reactid=
						".1.0:a.0.1.0.2">3.2k</span>
					</div>

					<div data-reactid=".1.0:a.0.1.1">
						<i class="icon-comment-o"></i>
						<span data-reactid=
						".1.0:a.0.1.1.2">210</span>
					</div>
				</div>
			</div>

			<div class="cardBody" data-reactid=".1.0:a.1">
				<span data-reactid=".1.0:a.1.0">O meu primeiro ano em
				Harvard</span>
			</div>

			<div class="cardFoot" data-reactid=".1.0:a.2">
				<div class="authorship" data-reactid=".1.0:a.2.0">
					<div class="avatarWrapper" data-reactid=".1.0:a.2.0.0">
						<a data-reactid=".1.0:a.2.0.0.0" href=
						"/u/felipe.pires.14224"></a>

						<div class="avatar" data-reactid=".1.0:a.2.0.0.0.0"
						style=
						"background:url(https://graph.facebook.com/renan.f.carneiro.3/picture);">
						</div>
					</div><a class="username" data-reactid=".1.0:a.2.0.1" href=
					"/u/felipe.pires.14224">Renan Ferrerinha</a>
				</div><time data-reactid=".1.0:a.2.1" data-time-count=
				"1390969884449" data-time-long="true">há 58 dias</time>
			</div>
		</div>

		<div class="cardView" data-tag="olimpiada" data-reactid=".1.0:b">
			<div class="cardCover"><span class="tag" data-tag-bg="olimpiada">Olimpíada</span><span class="tag" data-tag-bg="olimpiada">Química</span></div>
			<div class="cardHeader" data-reactid=".1.0:b.0">
				<span class="cardType" data-reactid=
				".1.0:b.0.0">PERGUNTA</span>

				<div class="iconStats" data-reactid=".1.0:b.0.1">
					<div data-reactid=".1.0:b.0.1.0">
						<i class="icon-heart"></i>
						<span data-reactid=
						".1.0:b.0.1.0.2">1</span>
					</div>

					<div data-reactid=".1.0:b.0.1.1">
						<i class="icon-comment-o"></i>
						<span data-reactid=
						".1.0:b.0.1.1.2">1</span>
					</div>
				</div>
			</div>

			<div class="cardBody" data-reactid=".1.0:b.1">
				<span data-reactid=".1.0:b.1.0">Estou na 7ª série, gosto de
				Química e gostaria de competir. Por onde eu começo?</span>
			</div>

			<div class="cardFoot" data-reactid=".1.0:b.2">
				<div class="authorship" data-reactid=".1.0:b.2.0">
					<div class="avatarWrapper" data-reactid=".1.0:b.2.0.0">
						<a data-reactid=".1.0:b.2.0.0.0" href=
						"/u/felipearagaopires"></a>

						<div class="avatar" data-reactid=".1.0:b.2.0.0.0.0"
						style=
						"background:url(https://graph.facebook.com/rebeca.lyra.3/picture);">
						</div>
					</div><a class="username" data-reactid=".1.0:b.2.0.1" href=
					"/u/felipearagaopires">Nunca Será</a>
				</div><time data-reactid=".1.0:b.2.1" data-time-count=
				"1394877379178" data-time-long="true">há 13 dias</time>
			</div>
		</div>

		<div class="cardView" data-tag="application" data-reactid=".1.0:c">
			<div class="cardCover"><span class="tag" data-tag-bg="application">Application</span></div>
			<div class="cardHeader" data-reactid=".1.0:c.0">
				<span class="cardType" data-reactid=
				".1.0:c.0.0">OPORTUNIDADE</span>

				<div class="iconStats" data-reactid=".1.0:c.0.1">
					<div data-reactid=".1.0:c.0.1.0">
						<i class="icon-heart"></i>
						<span data-reactid=
						".1.0:c.0.1.0.2">0</span>
					</div>

					<div data-reactid=".1.0:c.0.1.1">
						<i class="icon-comment-o"></i>
						<span data-reactid=
						".1.0:c.0.1.1.2">0</span>
					</div>
				</div>
			</div>

			<div class="cardBody" data-reactid=".1.0:c.1">
				<span data-reactid=".1.0:c.1.0">Harvard, Yale, George Town
				fazem palestra no Rio de Janeiro no sábado. Inscreva-se!</span>
			</div>

			<div class="cardFoot" data-reactid=".1.0:c.2">
				<div class="authorship" data-reactid=".1.0:c.2.0">
					<div class="avatarWrapper" data-reactid=".1.0:c.2.0.0">
						<a data-reactid=".1.0:c.2.0.0.0" href=
						"/u/felipearagaopires"></a>

						<div class="avatar" data-reactid=".1.0:c.2.0.0.0.0"
						style=
						"background:url(https://graph.facebook.com/nicole.dux/picture);">
						</div>
					</div><a class="username" data-reactid=".1.0:c.2.0.1" href=
					"/u/felipearagaopires">Nicole Dux</a>
				</div><time data-reactid=".1.0:c.2.1" data-time-count=
				"1394876750795" data-time-long="true">há 13 dias</time>
			</div>
		</div>

		<div class="cardView" data-reactid=".1.0:d">
			<div class="cardHeader" data-reactid=".1.0:d.0">
				<span class="cardType" data-reactid=
				".1.0:d.0.0">PUBLICAÇÃO</span>

				<div class="iconStats" data-reactid=".1.0:d.0.1">
					<div data-reactid=".1.0:d.0.1.0">
						<i class="icon-heart"></i>
						<span data-reactid=
						".1.0:d.0.1.0.2">230</span>
					</div>

					<div data-reactid=".1.0:d.0.1.1">
						<i class="icon-comment-o"></i>
						<span data-reactid=
						".1.0:d.0.1.1.2">5</span>
					</div>
				</div>
			</div>

			<div class="cardBody" data-reactid=".1.0:d.1">
				<span data-reactid=".1.0:d.1.0">Meus primeiros passos com
				francês e dicas pra vocês</span>
			</div>

			<div class="cardFoot" data-reactid=".1.0:d.2">
				<div class="authorship" data-reactid=".1.0:d.2.0">
					<div class="avatarWrapper" data-reactid=".1.0:d.2.0.0">
						<a data-reactid=".1.0:d.2.0.0.0" href=
						"/u/felipearagaopires"></a>

						<div class="avatar" data-reactid=".1.0:d.2.0.0.0.0"
						style=
						"background:url(https://graph.facebook.com/100000366187376/picture);">
						</div>
					</div><a class="username" data-reactid=".1.0:d.2.0.1" href=
					"/u/felipearagaopires">Felipe Aragão</a>
				</div><time data-reactid=".1.0:d.2.1" data-time-count=
				"1394876684321" data-time-long="true">há 13 dias</time>
			</div>
		</div>

		<div class="cardView" data-tag="olimpiada" data-reactid=".1.0:e">
			<div class="cardCover"><span class="tag" data-tag-bg="olimpiada">Matemática</span></div>
			<div class="cardHeader" data-reactid=".1.0:e.0">
				<span class="cardType" data-reactid=
				".1.0:e.0.0">PUBLICAÇÃO</span>

				<div class="iconStats" data-reactid=".1.0:e.0.1">
					<div data-reactid=".1.0:e.0.1.0">
						<i class="icon-heart"></i>
						<span data-reactid=
						".1.0:e.0.1.0.2">0</span>
					</div>

					<div data-reactid=".1.0:e.0.1.1">
						<i class="icon-comment-o"></i>
						<span data-reactid=
						".1.0:e.0.1.1.2">0</span>
					</div>
				</div>
			</div>

			<div class="cardBody" data-reactid=".1.0:e.1">
				<span data-reactid=".1.0:e.1.0">Por que eu gosto de
				matemática</span>
			</div>

			<div class="cardFoot" data-reactid=".1.0:e.2">
				<div class="authorship" data-reactid=".1.0:e.2.0">
					<div class="avatarWrapper" data-reactid=".1.0:e.2.0.0">
						<a data-reactid=".1.0:e.2.0.0.0" href=
						"/u/felipearagaopires"></a>

						<div class="avatar" data-reactid=".1.0:e.2.0.0.0.0"
						style=
						"background:url(https://graph.facebook.com/gabriel.soldani/picture);">
						</div>
					</div><a class="username" data-reactid=".1.0:e.2.0.1" href=
					"/u/felipearagaopires">Aluninho da 6ª série</a>
				</div><time data-reactid=".1.0:e.2.1" data-time-count=
				"1394876230279" data-time-long="true">há 13 dias</time>
			</div>
		</div>

		<div class="cardView" data-tag="application" data-reactid=".1.0:f">
			<div class="cardCover"><span class="tag" data-tag-bg="application">Application</span></div>
			<div class="cardHeader" data-reactid=".1.0:f.0">
				<span class="cardType" data-reactid=
				".1.0:f.0.0">ACHIEVEMENT</span>

				<div class="iconStats" data-reactid=".1.0:f.0.1">
					<div data-reactid=".1.0:f.0.1.0">
						<i class="icon-heart"></i>
						<span data-reactid=
						".1.0:f.0.1.0.2">23</span>
					</div>

					<div data-reactid=".1.0:f.0.1.1">
						<i class="icon-comment-o"></i>
						<span data-reactid=
						".1.0:f.0.1.1.2">1</span>
					</div>
				</div>
			</div>

			<div class="cardBody" data-reactid=".1.0:f.1" style=
			" font-size: 19px;">
				<span data-reactid=".1.0:f.1.0">Do "Mamãe, quero ser
				astronauta" ao Florida Institute of Technology</span>
			</div>

			<div class="cardFoot" data-reactid=".1.0:f.2">
				<div class="authorship" data-reactid=".1.0:f.2.0">
					<div class="avatarWrapper" data-reactid=".1.0:f.2.0.0">
						<a data-reactid=".1.0:f.2.0.0.0" href=
						"/u/felipearagaopires"></a>

						<div class="avatar" data-reactid=".1.0:f.2.0.0.0.0"
						style=
						"background:url(https://graph.facebook.com/luizfernando.gomes.581/picture);">
						</div>
					</div><a class="username" data-reactid=".1.0:f.2.0.1" href=
					"/u/felipearagaopires">Luiz Fernando Leal</a>
				</div><time data-reactid=".1.0:f.2.1" data-time-count=
				"1394708997429" data-time-long="true">há 15 dias</time>
			</div>
		</div>

		<div class="cardView" data-reactid=".1.0:g">
			<div class="cardHeader" data-reactid=".1.0:g.0">
				<span class="cardType" data-reactid=
				".1.0:g.0.0">DISCUSSÃO</span>

				<div class="iconStats" data-reactid=".1.0:g.0.1">
					<div data-reactid=".1.0:g.0.1.0">
						<i class="icon-heart icon-red"></i>
						<span data-reactid=
						".1.0:g.0.1.0.2">4</span>
					</div>

					<div data-reactid=".1.0:g.0.1.1">
						<i class="icon-comments-o"></i>
						<span data-reactid=
						".1.0:g.0.1.1.2">20</span>
					</div>
				</div>
			</div>

			<div class="cardBody" data-reactid=".1.0:g.1">
				<span data-reactid=".1.0:g.1.0">Funk é música?</span>
			</div>

			<div class="cardFoot" data-reactid=".1.0:g.2">
				<div class="authorship" data-reactid=".1.0:g.2.0">
					<div class="avatarWrapper" data-reactid=".1.0:g.2.0.0">
						<a data-reactid=".1.0:g.2.0.0.0" href=
						"/u/felipearagaopires"></a>

						<div class="avatar" data-reactid=".1.0:g.2.0.0.0.0"
						style=
						"background:url(https://graph.facebook.com/100000366187376/picture);">
						</div>
					</div><a class="username" data-reactid=".1.0:g.2.0.1" href=
					"/u/felipearagaopires">Felipe Aragão</a>
				</div><time data-reactid=".1.0:g.2.1" data-time-count=
				"1394698469534" data-time-long="true">há 15 dias</time>
			</div>
		</div>

		<div class="cardView" data-reactid=".1.0:h">
			<div class="cardHeader" data-reactid=".1.0:h.0">
				<span class="cardType" data-reactid=
				".1.0:h.0.0">PUBLICAÇÃO</span>

				<div class="iconStats" data-reactid=".1.0:h.0.1">
					<div data-reactid=".1.0:h.0.1.0">
						<i class="icon-heart"></i>
						<span data-reactid=
						".1.0:h.0.1.0.2">0</span>
					</div>

					<div data-reactid=".1.0:h.0.1.1">
						<i class="icon-comment-o"></i>
						<span data-reactid=
						".1.0:h.0.1.1.2">1</span>
					</div>
				</div>
			</div>

			<div class="cardBody" data-reactid=".1.0:h.1">
				<span data-reactid=".1.0:h.1.0">My conquest!28</span>
			</div>

			<div class="cardFoot" data-reactid=".1.0:h.2">
				<div class="authorship" data-reactid=".1.0:h.2.0">
					<div class="avatarWrapper" data-reactid=".1.0:h.2.0.0">
						<a data-reactid=".1.0:h.2.0.0.0" href=
						"/u/felipearagaopires"></a>

						<div class="avatar" data-reactid=".1.0:h.2.0.0.0.0"
						style=
						"background:url(https://graph.facebook.com/100000366187376/picture);">
						</div>
					</div><a class="username" data-reactid=".1.0:h.2.0.1" href=
					"/u/felipearagaopires">Felipe Aragão</a>
				</div><time data-reactid=".1.0:h.2.1" data-time-count=
				"1394688552251" data-time-long="true">há 15 dias</time>
			</div>
		</div>

		<div class="cardView" data-reactid=".1.0:i">
			<div class="cardHeader" data-reactid=".1.0:i.0">
				<span class="cardType" data-reactid=
				".1.0:i.0.0">PUBLICAÇÃO</span>

				<div class="iconStats" data-reactid=".1.0:i.0.1">
					<div data-reactid=".1.0:i.0.1.0">
						<i class="icon-heart"></i>
						<span data-reactid=
						".1.0:i.0.1.0.2">0</span>
					</div>

					<div data-reactid=".1.0:i.0.1.1">
						<i class="icon-comment-o"></i>
						<span data-reactid=
						".1.0:i.0.1.1.2">1</span>
					</div>
				</div>
			</div>

			<div class="cardBody" data-reactid=".1.0:i.1">
				<span data-reactid=".1.0:i.1.0">My conquest!98</span>
			</div>

			<div class="cardFoot" data-reactid=".1.0:i.2">
				<div class="authorship" data-reactid=".1.0:i.2.0">
					<div class="avatarWrapper" data-reactid=".1.0:i.2.0.0">
						<a data-reactid=".1.0:i.2.0.0.0" href=
						"/u/felipearagaopires"></a>

						<div class="avatar" data-reactid=".1.0:i.2.0.0.0.0"
						style=
						"background:url(https://graph.facebook.com/100000366187376/picture);">
						</div>
					</div><a class="username" data-reactid=".1.0:i.2.0.1" href=
					"/u/felipearagaopires">Felipe Aragão</a>
				</div><time data-reactid=".1.0:i.2.1" data-time-count=
				"1394687963440" data-time-long="true">há 15 dias</time>
			</div>
		</div>

		<div class="streamSign" data-reactid=".1.1">
			<span data-reactid=".1.1.1">Nenhuma outra atividade
			encontrada.</span>
		</div>
	</div>
			{% block mainContent %}
			{% endblock %}
			</div>
		</div>
	</div>

	<div id="fullPageContainer">
		
	</div>
{% endblock %}