
<footer class="Snavbar-fixed-bottom text-center">
	MeAvisa, 2013. Por André Queiroz e <a href="http://twitter.com/f03lipe">Felipe Aragão</a>.
	<% if (locals.user) { %>
		<h6><a href"/leave">Delete my account.</a></h6>
	<% } %>
</footer>
