{% extends 'stdbody.html' %}

{% block head %}
	{% parent %}
	<link rel="stylesheet" href="{{ getMediaUrl('css','full_bg_page.min.css') }}" />
{% endblock %}

{% import 'macros/ubgs.html' as ubgs %}

{% block body %}
	{{ ubgs.selectIBg() }}
	{% include 'layouts/navbar.html' %}
	
	<section id="jumbo">

		<div class="content">
			<div style="position: absolute; margin: auto">
				<div class="flash-msgs"></div>
			</div>
			{% block content %}{% endblock %}
		</div>
		<div class="credits">
		</div>
		<dfn>
			{{ sel_bg.label }}
			<br>{{ sel_bg.credits }}
		</dfn>
	</section>

	{% include 'layouts/footer.html' %}

{% endblock %}