<nav class="navbar navbar-inverted" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand brand" href="/">
				MeAvisa.org
			</a>
		</div>
		<% if (user) { %>
			
			<div class="nav navbar-nav btn-group">

				<button type="button" class="btn btn-info dropdown-toggle navbar-btn" data-toggle="dropdown">
					Menu <span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a data-toggle="modal" href="#sobre" href="#">Sobre o MeAvisa</a></li>
					<li class="divider"></li>
					<li><a data-toggle="modal" href="#leave" href="#">Excluir Conta</a></li>
				</ul>
			</div>

			<div class="nav navbar-nav pull-right">
				<a href="/logout" class="btn btn-warning navbar-btn">Logout</a>
			</div>
<!-- 			<div class="nav navbar-nav pull-right">
				<form class="navbar-form navbar-left" role="search">
					<div class="form-group">
						<input type="text" disabled class="form-control" placeholder="">
					</div>
					<button type="submit" disabled class="btn btn-default">Procurar Assunto</button>
				</form>
			</div> -->
		<% } else { %>
			<ul class="nav navbar-nav pull-right">
				<a class="signin" href="/auth/facebook">
					<strong>Registrar-se</strong>
				</a>
				<a class="login" href="/auth/facebook">
					Log In
				</a>
			</ul>
		<% } %>
	</div>
</nav>