<nav class="navbar navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">
				<!-- <img style="margin: -10px 0; margin-right: -5px; user-select: none" height=35 src="/static/img/meavisa.jpg"> -->
				 <strong style="font-family: 'Londrina Solid'; font-size: 29px">MeAvisa</strong>
			</a>
		</div>
		{% if user %}
	<!-- 		<ul class="nav navbar-nav">
				<li name="home"><a href="/">Home</a></li>
			</ul> -->
			
			<div class="nav navbar-nav btn-group">

				<button type="button" class="btn btn-info dropdown-toggle navbar-btn" data-toggle="dropdown">
					Menu <span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a data-toggle="modal" href="#sobre" href="#">Sobre o MeAvisa</a></li>
					<li class="divider"></li>
					<li><a data-toggle="modal" href="#leave" href="#">Excluir Conta</a></li>
				</ul>
			</div>

			<div class="nav navbar-nav pull-right">
				<a href="/logout" class="btn btn-warning navbar-btn">Logout</a>
			</div>
			<div class="nav navbar-nav pull-right">
				<form class="navbar-form navbar-left" role="search">
					<div class="form-group">
						<input type="text" disabled class="form-control" placeholder="">
					</div>
					<button type="submit" disabled class="btn btn-default">Procurar Assunto</button>
				</form>
			</div>
		{% else %}
			<ul class="nav navbar-nav btn-group">
				<a class="btn btn-success pull-right navbar-btn" href="/auth/facebook">
					Login using <strong>Facebook</strong>
				</a>
			</ul>
		{% endif %}
	</div>
</nav>