<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">

		<script src="/static/js/vendor/modernizr-2.6.2.min.js"></script>
		<!-- <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet"> -->
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.css" rel="stylesheet">
		<link rel="stylesheet" href="/static/css/main.css">

		<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500' rel='stylesheet' type='text/css'>

		<style>

			.post {
				/*border: 1px dashed gray;*/
				margin-bottom: 10px;
				padding: 5px 15px;
				list-style: none;
				box-shadow: 0 0 5px rgba(0, 0, 0, .4);
			}

			.post .title h3 {
				margin-bottom: 0;
			}

			.post .title h3 a {
				text-decoration: none;
				/*border-bottom: 1px dashed gray ;*/
			}

			.post .body {
				margin: 20px auto;
				font: 14px Ubuntu, "Open Sans", Arial;
			}

			body { padding-top: 70px; }


		</style>
	
	</head>
	<body>
		<!--[if lt IE 7]>
		<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
		<![endif]-->

		<!-- Modal -->
		<div class="modal fade" id="sobre">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">Sobre o <strong>MeAvisa</strong></h4>
					</div>
					<div class="modal-body">
						<p>O <strong>MeAvisa</strong> (nome possivelmente provisório) é um serviço para deixar as pessoas por dentro de oportunidades acadêmicas, como olimpíadas escolares, cursos, intercâmbio e projetos de pesquisa.</p>
						O MeAvisa é desenvolvido usando <strong><a href="http://expressjs.com">express.js</a></strong> (um framework para <strong>node.js</strong>) e hosteado através do <strong><a href="http://heroku.com">heroku</a></strong>.
						<h5>Feito por André Queiroz e Felipe Aragão Pires.</h5>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		<div class="modal fade" id="leave">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">Excluir sua conta?</h4>
					</div>
					<div class="modal-body">
						<h3>Você tem <strong>certeza</strong> que deseja <strong>excluir a sua conta</strong>?</h3>
						<img src="http://free-mobile-wallpapers.mobilclubs.com/sites/default/files/img-wallpapers/sad_cat.jpg" width=200>
					</div>
					<div class="modal-footer">
						<a href="/leave" class="btn btn-default btn-danger">Sim :(</a>
						<button type="button" class="btn btn-default btn-success" data-dismiss="modal">Cancelar :)</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->


		<%- include navbar.ejs %>
		<div class="container" style="position: relative">

			<div class="row">
				<div class="col-4">
					<div data-spy="affix" data-offset-top="0" style="width:350px">
						<h3>Oi, <%= user.name %>!</h3>
						<h5>Selecione aqui os assuntos de seu interesse.</h5>
						<form id="tags-form" class="form" action="/update" method="POST">
							<fieldset>
							<% tags.forEach(function(tag){ %>
								<% var checked = user.tags.indexOf(tag)!=-1; %>
								<div>
								<div class="btn-group" style="width: 100%">
								<% if (checked) { %>
									<button name="<%=tag%>" class="btn tag-btn btn-info tg-btn" data-checked=true>
										<div class="tg icon-check-sign">
								<% } else { %>
									<button name="<%=tag%>" class="btn tag-btn btn-default tg-btn" data-checked=false>
										<div class="tg icon-check-empty">
								<% } %>
									</div>
									#<%= tag %>
										<!-- <i class="icon-collapse"></i> -->
									</button>
									<button onClick="return false" class="btn <%= checked?"btn-info":"btn-default" %>">
										<i class="icon-collapse"></i>
									</button>
								</div>
								</div>
							<% }) %>
							</fieldset>
							<br>
							<div>
								<button class="btn btn-large btn-block btn-primary btn-lg" type="submit">
									<strong>Confirmar</strong> as Mudanças
								</button>
								<a class="btn btn-large btn-block btn-danger btn-lg" href="/" type="button">
									<strong>Cancelar</strong>
								</a>
							</div>
						</form>
						<% include footer.ejs %>
					</div>
				</div>
				<div class="col-8">
					<div class="posts">
						<h3>Últimas atualizações dos assuntos que você segue...</h3>
						<% if (!posts.length) { %>
							<h3 style="color: #888">Ops! Você não está seguindo tag nenhuma. :/</h3>
						<% } %>
						<% posts.forEach(function (post) { %>
							<li class="post">
								<div class="title">
									<% if (post.title) { %>
										<h3><a href="<%= post.short_url %>"><%= post.title %></a></h3>
									<% } %>
									<% var days = Math.round((new Date-new Date(post.date))/(1000*60*60*24)) %>
									<% if (days === 0) {%>
										<small class="">Hoje</small>
									<% } else { %>
										<small class=""><%= days %> dia<%= days>1?'s':''%> atrás</small>
									<% } %>
								</div>
								<% if (post.type === 'photo') { %>
									<% post.photos.forEach(function (photo) { %>
										<a href="<%= post.short_url %>"><img src="<%= photo.alt_sizes[0].url %>" /></a>
									<% }) %>
								<% } else { %>
									<div class="body">
										<p><%- post.body %></p>
									</div>
								<% } %>
								<div>
									tags:
									<% post.tags.forEach(function(tag) {%>
										<a class="label label-success" href="http://<%= post.blog_name %>.tumblr.com/tagged/<%= tag%>">#<%= tag %></a>
									<% })%>
								</div>

							</li>
						<% }) %>
						<hr>

					</div>
				</div>
			</div>

		</div>


		<!--
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="/static/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
		-->

		<script src="/static/js/vendor/jquery-1.9.1.min.js"></script>
		<script src="/static/js/vendor/bootstrap.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>

		<script src="/static/js/plugins.js"></script>
		<script src="/static/js/main.js"></script>

		<script>
			var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
			(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
			g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
			s.parentNode.insertBefore(g,s)}(document,'script'));
		</script>

		<script>

			$("#tags-form").submit(function (evt) {
				console.log('tags', $(this).serialize())
				tags = _.pluck($(this).find('button[data-checked=true]'),'name')
				$.post('/update', {
					'tags': tags.join(','),
				}).success(function() {
					location.href = '/';
				})
				event.stopPropagation();
				event.preventDefault();
			})

			$('.tag-btn').click(function(evt) {
				var icon = $(this).find('.tg');
				this.dataset.checked = !(this.dataset.checked==='true');
				icon.toggleClass('icon-check-empty');
				icon.toggleClass('icon-check-sign');
				var btns = $(this.parentElement).find('button');
				$(btns).toggleClass('btn-default');
				$(btns).toggleClass('btn-info');
				event.stopPropagation();
				event.preventDefault();
			})
		</script>
	</body>
</html>
