<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		<title>MeAvisa</title>

		<link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.css"> 
		<!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css"> -->
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.css">
		<link rel="stylesheet" href="/static/css/main.css">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Ubuntu:400,500" type="text/css">

		<script src="/static/js/vendor/modernizr-2.6.2.min.js"></script>
	</head>
	<body style="padding-top: 70px">
		<!--[if lt IE 7]>
		<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
		<![endif]-->

		<!-- modal#sobre -->
		<div class="modal fade" id="sobre">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">Sobre o <strong>MeAvisa</strong></h4>
					</div>
					<div class="modal-body">
						<p>O <strong>MeAvisa</strong> (nome possivelmente provisório) é um serviço para deixar as pessoas por dentro de oportunidades acadêmicas, como olimpíadas escolares, cursos, intercâmbio e projetos de pesquisa.</p>
						O MeAvisa é desenvolvido usando <strong><a href="http://expressjs.com">express.js</a></strong> (um framework para <strong>node.js</strong>) e hosteado através do <strong><a href="http://heroku.com">heroku</a></strong>.
						<h5>Feito por André Queiroz e Felipe Aragão Pires.</h5>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
					</div>
				</div>
			</div>
		</div>

		<!-- modal#leave -->
		<div class="modal fade" id="leave">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">Excluir sua conta?</h4>
					</div>
					<div class="modal-body">
						<h3>Você tem <strong>certeza</strong> que deseja <strong>excluir a sua conta</strong>?</h3>
						<img src="http://free-mobile-wallpapers.mobilclubs.com/sites/default/files/img-wallpapers/sad_cat.jpg" width=200>
					</div>
					<div class="modal-footer">
						<a href="/leave" class="btn btn-default btn-danger">Sim :(</a>
						<button type="button" class="btn btn-default btn-success" data-dismiss="modal">Cancelar :)</button>
					</div>
				</div>
			</div>
		</div>

		<!-- navbar -->
		{% include "navbar.ejs" %}
	
		<!-- container -->
		<div class="container" style="position: relative">
			<div class="row-fixed">
				<!-- tags configuration -->
				<div class="col-4">
					<div data-spy="affix" data-offset-top="0" style="width:350px">
						<h3>Oi, {{user.name}}!</h3>
						<h5>Selecione aqui os assuntos de seu interesse.</h5>
						<form id="tags-form" class="form" action="/update" method="POST">
							<fieldset>
							{#
							{% for tag in tags %}
								{% set key = loop.key %}
								{% set checked = loop.key|in(user.tags) %}
								<div>
									<button name="{{key}}"
									{% if loop.key|in(user.tags) %}
											class="btn tag-btn btn-info tg-btn" data-checked=true><div class="tg icon-check-sign">
									{% else %}
											class="btn tag-btn btn-default tg-btn" data-checked=false><div class="tg icon-check-empty">
									{% endif %}
									</div>
										{{tag.label}}
										<!-- <i class="icon-collapse"></i> -->
									</button>
									{% if not tag.children|isEmpty %}
										<button onClick="return false" class="btn-reset">
											<i class="icon-angle-down"></i>
										</button>
										<ul style="list-style: none">
											<div class="children">
											{% for ctag in tag.children %}
												<button class="btn btn-default" name="{{tag+":"+loop.key}}">
													<li><i class="icon-circle"></i> {{ctag.label}}</li>
												</button>
											{% endfor %}
											</div>
										</ul>
									{% endif %}
									<!-- icon-circle icon-circle-blank -->
								</div>
							{% endfor %}
							#}
							</fieldset>
							<br>
							<div>
								<button class="btn btn-large btn-block btn-primary btn-lg" type="submit">
									<strong>Confirmar</strong> as Mudanças
								</button>
								<a class="btn btn-large btn-block btn-danger btn-lg" href="/" type="button">
									<strong>Cancelar</strong>
								</a>
							</div>
						</form>
						<!-- footer -->
						{% include "footer.ejs" %}
					</div>
				</div>
				<!-- posts -->
				<div class="col-8">
					<div class="posts">
						<h3>Últimas atualizações dos assuntos que você segue...</h3>
						{% if !posts.length %}
							<h3 style="color: #888">Ops! Você não está seguindo tag nenhuma. :/</h3>
						{% endif %}
						{% for post in posts %}
							<li class="post">
								<div class="title">
									{% if post.title %}
										<h3><a href="{{ post.short_url }}">{{ post.title }}</a></h3>
									{% endif %}
									{% set days = (post.date|daysFromToday) %}
									{% if days === 0 %}
										<small class="">Hoje</small>
									{% else %}
										<small class="">{{days}} dia{% if days>1 %}s{% endif %} atrás</small>
									{% endif %}
								</div>
								{% if post.type === 'photo' %}
									{% for photo in post.photos %}
										<a href="{{post.short_url}}"><img src="{{photo.alt_sizes[0].url}}" /></a>
									{% endfor %}
								{% else %}
									<div class="body">
										{% autoescape false %}
										<p>{{ post.body }}</p>
										{% endautoescape %}
									</div>
								{% endif %}
								<div>
									tags:
									{% for tag in post.tags %}
										<a class="label label-success" href="http://{{post.blog_name}}.tumblr.com/tagged/{{tag}}">
											<i class="icon-tag"></i> {{ tag }}</a>
									{% endfor %}
								</div>
							</li>
						{% endfor %}
						<hr>

					</div>
				</div>
			</div>
		</div>

		
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<!-- <script>window.jQuery || document.write("<script src='/static/js/vendor/jquery-1.9.1.min.js'><\/script>")</script> -->
		<script src="/static/js/vendor/bootstrap.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>

		<script src="/static/js/plugins.js"></script>
		<script src="/static/js/main.js"></script>

		<script>
			var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
			(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
			g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
			s.parentNode.insertBefore(g,s)}(document,'script'));
		</script>

		<script>

			$("#tags-form").submit(function (evt) {
				console.log('tags', $(this).serialize())
				tags = _.pluck($(this).find('button[data-checked=true]'),'name')
				$.post('/update', {
					'tags': tags.join(','),
				}).success(function() {
					location.href = '/';
				})
				event.stopPropagation();
				event.preventDefault();
			})

			$('.tag-btn').click(function(evt) {
				var icon = $(this).find('.tg');
				this.dataset.checked = !(this.dataset.checked==='true');
				icon.toggleClass('icon-check-empty');
				icon.toggleClass('icon-check-sign');
				var btns = $(this.parentElement).find('button');
				$(btns).toggleClass('btn-default');
				$(btns).toggleClass('btn-info');
				event.stopPropagation();
				event.preventDefault();
			})
		</script>
	</body>
</html>
