{% extends 'stdbody.html' %}

{% import 'macros/tags.html' as tagMacros %}

{% block head %}
{% parent %}
	{% if user %}
		<script>window.loggedUser=true;</script>
		<script>window.user = {id: '{{user.id}}', avatarUrl: '{{user.avatarUrl}}'}</script>
	{% else %}
		<script>window.loggedUser=false;</script>
		<script>window.user = {}</script>
	{% endif %}
{% endblock %}

{% block stylesheets %}
 	{{ tagMacros.stylesheet(getMediaUrl('css','sn_pages.min.css')) }}
{% endblock %}

{% block templates %}
	{% parent %}
	<script id="template-postview" type="text/template">
		{% include 'templates/postview.html' %}
	</script>
	<script id="template-commentview" type="text/template">
		{% include 'templates/commentview.html' %}
	</script>
{% endblock %}

{% block body %}
<body data-page="{{ data_page }}">
	<div class="bg-img half-opacity" id="page-bg"></div>

	{% include 'layouts/navbar.html' %}
	<div id="globalContainer">
		<div id="content">
			<div id="sidebar">
				{% block sidebarContent %}{% endblock %}
			</div>
			<div id="resultsContainer">
				<div class="flash-msgs"></div>
				{% block mainContent %}{% endblock %}
			</div>
		</div>
	</div>
	
	{% if app.env == "development" %}
		<script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.8/require.min.js"></script>
		<script>
			require(["{{ getMediaUrl('js','build.js') }}"], function () {
				require(['common', 'timeline'], function (common, App) {
					App.initialize();
				});
			});
		</script>
	{% else %}
		<script data-main="{{ getMediaUrl('js','app.min') }}" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.8/require.min.js"></script>
	{% endif %}
	
	{% block bodyEnd %}
	{% endblock %}
</body>
{% endblock %}