{% extends 'stdbody.html' %}

{% import 'macros/tags.html' as tagMacros %}

{% block head %}
{% parent %}
	{{ tagMacros.stylesheet(getMediaUrl('css','sn_pages.min.css')) }}
{% endblock %}


{% block body %}
	<div class="bg-img half-opacity" id="page-bg"></div>

	{% include 'layouts/navbar.html' %}
	<div id="globalContainer">
		<div id="content">
			<div id="sidebar">
				{% block sidebarContent %}{% endblock %}
			</div>
			<div id="resultsContainer">
				<div class="flash-msgs"></div>

				{% block mainContent %}
					<div id="resultsCol">
					</div>
				{% endblock %}
			</div>
		</div>
	</div>
	
	{% block bodyEnd %}
	{% endblock %}
{% endblock %}