{% extends 'stdbody.html' %}

{% import 'macros/tags.html' as tagMacros %}

{% block head %}
{% parent %}
	{% if user %}
	<script>window.user = {id: '{{user.id}}', name: '{{user.name}}', avatarUrl: '{{user.avatarUrl}}', following: '{{user_profile.followingIds|json}}'}</script>
	{% else %}
	<script>window.user={}</script>
	{% endif %}
	<script>tagData = {{ getTags()|json }};</script>
	{{ tagMacros.stylesheet(getMediaUrl('css/snpages.min.css')) }}
{% endblock %}

{% block body %}

	{% include 'components/navbar.html' with navbarOpts %}
	{% include 'components/sidebar.html' %}

	<div class="cContainer" id="globalContainer">
		{% block globalContainer %}
		{% endblock %}
	</div>

	<div class="cContainer" id="rightContainer"></div>

	<script>
		(window.resizeCardsPanel = function () {
			document.getElementById("globalContainer").style.height = (document.body.offsetHeight - document.getElementById("globalContainer").getBoundingClientRect().top + 10)+"px";
		})();
		window.addEventListener('resize', resizeCardsPanel);
	</script>


{% endblock %}