
@import "macros.less";

.navbar {
	.box-shadow(0,0,5px,.5);
	.border-radius(0);

	.navbar-brand {
		.user-select();
		img {
			.user-select();
			.unselectable();
		}
		.unselectable();
	}
}

footer {
	padding: 15px 0;
	font-size: 13px;
}

.tg-btn {
	width: 100%;
	display: block;
	text-align: left;
	margin-bottom: 5px;

	.tg {
		display: table;
		display: inline-block;
		margin-right: 5px;
	}
}