
/* default.less
** for meavisa.org, by @f03lipe
** Styles of all panel pages (sobre, panel, us etc).
*/

@import "../common.less";

body > section {
	.container-fixed;
	&:extend(.container);

	& > section {
		.make-row;
		margin-top: 20px;
	}
}


.padded {
	padding-top: 40px;
	padding-bottom: 40px;
}

#howto {
	.container-fixed;
	.padded;
	
	.column {
		.make-xs-column(4);
		.make-md-column(4);
		.make-lg-column(3);
		.make-lg-column-offset(1);
	}
	
	[class*=icon] {
		font-size: 90px;
	}

	.instructions {
		margin-top: 40px;
	}
}


#parcerias {
	.container-fixed;
	.padded;
	
	.label {
		color: #444;
	}

	li {
		display: inline-block;
		list-style: none;
		padding: 0 50px;
	}
}


.paper () {

	.container-fixed;
	&:extend(.container);
	margin-top: 10px;

	& > section {
		.make-row;
		.make-md-column(10);
		.make-md-column-offset(1);

		background: white;
		border: 1px solid #CCC;
		padding: 50px;
	}
}

body[data-page=panel] {
	
	input[type=checkbox] {
		vertical-align: middle;
		margin: 5px;
	}

	.dialog {
		form {

			[data-action=leave] {
				.high-xbtn(white, red);
			}
			[data-action=close-dialog] {
				.high-xbtn(#fff, #AAA);
			}

		}
	}

	[data-action=save] {
		.transparent-ibtn(#2ecc71);
		padding: 5px 10px;
	}
	
	[data-action=cancel] {
		.transparent-ibtn(#e74c3c);
	}

	[data-action=delete-account] {
		color: #e74c3c;
		text-decoration: none;
	}
}

body[data-page=profile] {

	background: url('/static/images/pinstripe.png');

	& > section {
		.container-fixed;
		width: 960px;

		& > section {
		}

		& > section.side {
			width: 240px;
			float: left;

			.thumbnail {
				display: table;
				
				img {
					.box-shadow(0,1px,5px, 0, .5);
				}
			}

			.info-groups {
				padding: 10px 0;

				.info-group {
					h1,h2,h3,h4,h5,h6 {
						margin: 0;
						margin-bottom: 10px;
					}
				}
			}

			.social, .badges {
				border-top: 1px dashed #888;
				padding: 15px 0;

				a {	text-decoration: none; }
				[class*=icon] {
					font-size: 25px;
					padding: 5px 8px;
					color: #444;
					.text-shadow(0, 1px, 3px, .3);
				}
			}

			.badges {
				.gold { color: #FDE910; }
				.silver { color: #E3E4E5; }
				.copper { color: #CB6D51; }
				[class*=icon] {
					font-size: 35px;
					padding: 5px 6px;
				}
			}
		}

		& > section.main {
			width: 680px;
			float: left;
			margin-left: 40px;

			& > section {
				padding: 20px;
				background: white;
				margin-bottom: 20px;
				border: 1px solid #DDD;
				border-bottom: 2px solid #AAA;
			}

		}
	}

}

body[data-page=team] {

	.team {
		li {
			list-style: none;
			display: inline-block;
			.make-md-column(3);
			text-align: center;

			border: 1px solid #DDD;

			.avatar {
				display: inline-block;
				width: 100px;
				height: 100px; 
				border-radius: 50px;
				overflow: hidden;
			}
		}
	}
}
