
/* sn_pages.less
** Copyright QIlabs.org
** Styles of social network pages.
*/

@import "../common.less";
@import "../components/sidebar.less";
@import "../components/timeline.less";
@import "../components/cards.less";

@page-width: 960px;

@sidebar-width: 280px;
@results-container-width: 960px-@sidebar-width;
@sidebar-gap: 25px;

body { 
	margin: 0;
	-webkit-font-smoothing: antialiased;
}

nav.bar {
	.navcontent {
		width: 980px;
	}
}

.mediaUser {
	display: inline-block;
	vertical-align: middle;
	width: 50px;
	height: 50px;
	text-decoration: none;

	.mediaUserAvatar {
		vertical-align: middle;
		width: 100%;
		height: 100%;
		background-size: cover !important;
	}
}

.avatarWrapper {
	display: inline-block;
	vertical-align: middle;
	width: 50px;
	height: 50px;
	text-decoration: none;
	overflow: hidden;

	.avatar {
		vertical-align: middle;
		width: 100%;
		height: 100%;
		background-size: cover !important;
	}

	& + .username {
		vertical-align: middle;
	}
}


.scrollbared () {

	&::-webkit-scrollbar {
		width: 8px;
	} 

	&::-webkit-scrollbar-track {
		background-clip: padding-box;
		border: solid transparent;
		border-width: 0 4px 0 4px;
		// margin-right: 4px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: rgba(0,0,0,.2);
		.rounded(5px);
		.transition(all, .4s, linear);
		&:hover {
			background-color: rgba(0,0,0,.3);
		}
	}
}


.fullPostView {
	position: relative;
	z-index: 1000;
	margin: 0 auto;
	width: 1000px;
	top: 20px;
	font-family: museo-sans;

	.postView {
		position: relative;
		z-index: 1001;
		width: 660px;
		float: left;
		background: white;
		padding: 30px 50px;
	}

	.postStats {
		font-size: 14px;
		margin-bottom: 20px;
		
		.tag {
			display: inline-block;
			background: 40px;
			padding: 4px 6px;
			// .rounded(5px);
			font-size: 11px;
			margin-left: 5px;
			color: white;
			font-weight: bold;
			text-transform: uppercase;
			font-family: "Lato";
			// font-size: ;
			background: @COLOR1;
		}
	}

	.postContent {
		.postTitle, .postBody {
			margin-bottom: 20px;
		}
		
		.postTitle {
			color: #444;
			font-size: 37px;
		}
		.postBody {
			color: black;
			font-size: 16px;
		}

		border-bottom: 1px solid #DDD;
	}

	.postSidebar {
		position: relative;
		padding: 20px;
		font-family: museo-sans;

		z-index: 1001;
		float: left;
		width: 340px;
		background: #444;

		color: white;

		.authorInfo {
			background: #444;
	
			.identification {

				.avatarWrapper {
					height: 35px;
					width: 35px;
					.rounded(20px);
					margin-right: 10px;
				}

				.username {
					font-weight: bold;
					color: white;
					text-decoration: none;
					vertical-align: middle;
				}
			}

			.bio {
				margin: 10px 0;
				.text-shadow(3px,.5);
				font-size: 13px;
			}
		}


		.footer {
			background: #888;
		}

	}

	.blackout {
		z-index: 1000;
		position: fixed;
		top: 0; right: 0; bottom: 0; left: 0;
		background: rgba(0,0,0,0.9);
	}
}

body {
	background: #FAFAFA url(/static/images/cubes.png);


	#globalContainer {
		.scrollbared;

		padding-top: 20px;
		overflow: auto;
		position: absolute;
		top: @real-navbar-height;
		bottom: 0;
		width: 100%;

		#cards {
			margin: 0 auto;
			width: 1120px;
			#resultsContainer { .cardsContainer; }
		}

		#content {
			margin: 0 auto;
			width: @results-container-width+@sidebar-width+@sidebar-gap;
			padding-top: 20px;
			#sidebar { .sidebar; }
			#resultsContainer { .timelineContainer; }
		}
	}
}

[data-page=profile] {

		.badges {
			.gold { color: #FDE910; }
			.silver { color: #E3E4E5; }
			.copper { color: #CB6D51; }
			[class*=icon] {
				font-size: 35px;
				padding: 5px 6px;
			}
		}
}

[data-page=postCreate] {
	
	#globalContainer #content {
		width: 800px;
	}

	#formCreatePost {
		background: white;
		padding: 20px;
		.box-shadow(10px, 0.3);

		.title, .body, .tags {
			display: block;
			outline: none;
			border: none;
			width: 100%;

			&:focus {
				border-bottom-color: #CCC;
			}

			padding: 15px;
			background: white;
	
			font-family: "Open Sans";
			font-size: 16px;
			margin-bottom: 10px;
		}

		.title, .tags {
			border-bottom: 2px dotted #DDD;
			padding: 5px;
		}

		.body {
			border: 1px solid #EAEAEA;
			border-bottom: 1px solid #DDD;
			padding: 10px;
			resize: vertical;
		}

		button {
			.btn-block;
			.high-xbtn(white, @COLOR1);
		}
	}

}