
/* sn_pages.less
** Copyright qilabs.org
** Styles of social network pages (sidebars included).
*/

@import "../common.less";

@sidebar-width: 330px;
@results-container-width: 630px;
@sidebar-gap: 15px;

.scrollbared () {

	&::-webkit-scrollbar {
		width: 8px;
	} 

	&::-webkit-scrollbar-track {
		background-clip: padding-box;
		border: solid transparent;
		border-width: 0 4px 0 4px;
		// margin-right: 4px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: rgba(0,0,0,.2);
		.rounded(5px);
		.transition(all, .4s, linear);
		&:hover {
			background-color: rgba(0,0,0,.3);
		}
	}
}

.sidebar (@width: @sidebar-width) {
	width: @width;
	// position: absolute;
	float: left;

	.box {
		background: white;
		margin-bottom: 15px;

		.head {
			padding: 10px;
			background: #DDD;
			color: #444;

			[data-info=name] {
				font-size: 20px;
				vertical-align: middle;
			}
			img {
				margin-right: 10px;
				.rounded(5px);
			}
		}
		
		.body:not(ul) {
			padding: 10px;
		}

		ul.body {
			padding: 0;

			& > li {
				list-style: none;
				display: block;
				padding: 10px;
				border-bottom: 1px solid #AAA;
			}
		}
	}

	.box:first-child {
		.head {
			background: #444;
			color: white;
		}
	}
}

.resultsContainer (@width: results-container-width) {
	width: @width;
	min-height: 600px;
	margin-left: @sidebar-width+@sidebar-gap;
	
	.post,
	.box {
		margin-bottom: 10px;
		list-style: none;
		padding: 20px;
	}

	.box {
	}

	& {

		textarea {
			display: block;
			width: 100%;
			border-color: #DDD;
		}

		[data-action=send-post] {
			.high-xbtn(white, @COLOR1);
		}
	}

	.post {
		.op-msg {
			.post-msg-header {
				.author-avatar {
					display: inline-body;
					.rounded(5px);
					border: 1px solid #DDD;
				}
				.post-msg-headline {
					display: inline;
					font: 14px "Open Sans";
					.author-username {
						display: inline;
						font-weight: bold;
					}
				}
				time {
					float: right;
				}
			}

			.post-msg-body {
				padding: 10px;
				margin: 10px 0;
				border: 1px solid #DDD;
			}
		}

		background: white;
		border: 1px solid #DDD;
		border-bottom: 1px solid #AAA;
	}
}

body {

	background: url(/static/images/noisy_grid.png);

	#globalContainer {
		.scrollbared;

		overflow: auto;
		position: absolute;
		top: @real-navbar-height;
		bottom: 0;
		width: 100%;

		#content {
			margin: 0 auto;
			width: @results-container-width+@sidebar-width+@sidebar-gap;
			
			padding-top: 10px;

			#sidebar {
				.sidebar;
			}

			#resultsContainer {
				.resultsContainer;
			}
		}
	}
}

[data-page=timeline] {

	.box.tags body {

		li {

			padding-left: 10px;
			padding-right: 30px;
			margin-bottom: 10px;
			list-style: none;
		
			i { margin-right: 5px; }
			display: block;

			padding: 10px;
			.ultra-reset-button;

			position: relative;
			display: block;
			margin: 5px 0;		
			text-align: left;

			.tag {
				width: 100%;
				text-align: left;
				background: #EEE;
				.rounded(3px);
				border: 1px solid #DDD;
			
				.tg-btn {
					text-align: left;
					margin-bottom: 5px;

					.tg {
						display: table;
						display: inline-block;
						margin-right: 5px;
					}

				}
				
				[data-role=inform] {
					.reset-button;
					float: right;
					padding: 0;
				}
			}

			[data-role=expand] {
				.reset-button;
				position: absolute;
				top: 7px;
				right: -25px;
			}
			

			& .tag[data-checked=true] {
				border: 1px solid green;
				background: green;
			}

			& .tag[data-checked=true] {
				color: #fff;
				background-color: #5cb85c;
				border-color: #4cae4c;

				&:hover, &:focus, &:active, &.active {
					color: #ffffff;
					background-color: #47a447;
					border-color: #398439;
				}
			}
		}
	}
}


body[data-page=profile] {

	background: url('/static/images/pinstripe.png');
	@sidebar-width: 20px;
	@results-container-width: 630px;


	#sidebar {

		.thumbnail {
			display: table;
			
			img {
				.box-shadow(0,1px,5px, 0, .5);
			}
		}

		.info-groups {
			padding: 10px 0;

			.info-group {
				h1,h2,h3,h4,h5,h6 {
					margin: 0;
					margin-bottom: 10px;
				}
			}
		}

		.social, .badges {
			border-top: 1px dashed #888;
			padding: 15px 0;

			a {	text-decoration: none; }
			[class*=icon] {
				font-size: 25px;
				padding: 5px 8px;
				color: #444;
				.text-shadow(0, 1px, 3px, .3);
			}
		}

		.badges {
			.gold { color: #FDE910; }
			.silver { color: #E3E4E5; }
			.copper { color: #CB6D51; }
			[class*=icon] {
				font-size: 35px;
				padding: 5px 6px;
			}
		}
	}

	#resultsContainer {

	}

}
