
/*
** sn_pages.less
** Copyright QIlabs.org
** Styles of the internal pages.
*/

@import "../common.less";

@import "components/wall.less";
@import "components/postbox.less";
@import "components/sidebar.less";
@import "components/alerts.less";

@import "pages/profile.less";
@import "pages/tag.less";
@import "pages/post_forms.less";
@import "pages/guides.less";
@import "pages/front.less";
@import "pages/error_pages.less";

html {
	overflow: hidden;
}

.invisible {
	opacity: 0 !important;
}

[data-page=notes] {


	.notificationsWrapper {

		width: 900px;
		margin: 40px auto;

		.notification {
			padding: 10px;
			list-style: none;
			border-bottom: 1px solid #AAA;

			.thumbnail {
				width: 40px;
				margin: 0 10px 0 -10px;
				height: 40px;
			}

			p {
				cursor: pointer;
				display: inline-block;
			}

			time {
				float: right;
				font-size: 13px;
			}

			p:hover {
				text-decoration: underline;
			}

			&[data-seen=false] p {
				color: #08C;
			}
		}

	}

}


body.sidebarOpen {
	#sidebarPanel {
		.translate(0);
	}

	.cContainer {
		.translate(@widthSidebar);
	}

	#openSidebar {
		opacity: .9;
		color: white;
		&:hover, &:active {
			color: #F8F8F8;
		}
	}
}

#rightContainer {
	height: 100%;
	background: #EEE;
	.translate(100%);
	&.visible {
		.translate(0);
	}
}


.pContainer {
	position: absolute;
	top: 0; bottom: 0;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	min-width: @minPageWidth;

	z-index: 20;
	.transition-transform;

	& > .close-btn {
		position: absolute;
		top: 10px;
		right: 20px;
	}
}

.close-btn {
	color: #EEE;
	font-style: normal;
	font-size: 22px;
	cursor: pointer;
	color: white;
	.transition;

	opacity: .8;
	&:hover {
		opacity: 1;
	}
	&::before {
		content: "×";
	}
}

.cContainer {
	background: #EAEAEA; // url(/static/images/cubes.png);
	background-position-y: -1px;
	position: absolute;
	overflow-x: hidden;
	overflow-y: auto;
	top: @navbar-height;
	bottom: 0;
	width: 100%;
	min-width: @minPageWidth;
	border-top: 1px solid #DDD;
	.transition-transform(.3s, ease-out);
	z-index: 15;

	& > .close-btn {
		position: absolute;
		top: 5px;
		right: 20px;
		font-size: 26px;
		color: #777;
	}
}

#globalContainer {
	#cards {
		padding-top: 20px;
		margin: 0 auto;
	}
}

&::-webkit-scrollbar-thumb {
	.transition(all, .2s, linear);
	background-color: #AAA;
	border-width: 0 0 0 1px;
	&:hover {
		background: #999;
	}
	&:active {
		background: #888;
	}
}

&::-webkit-scrollbar {
	width: 15px;
	background: white;
}

&::-webkit-scrollbar-track {
	background-clip: padding-box;
}

&::-webkit-scrollbar {
	background: #e8e8e8;
	width: 13px;
}