<% if (tag.checked && tag.checked !== 'false') { %>
	<button class="btn btn-default tag tag-btn" data-checked=true >
		<i class="fa fa-check-square"></i>
		<%= tag.label %>
<% } else if (tag.hasCheckedChild) { %>
	<button class="btn btn-default tag tag-btn" data-checked=false >
		<i class="fa fa-minus-square"></i>
		<%= tag.label %>
<% } else { %>
	<button class="btn btn-default tag tag-btn" data-checked=false>
		<i class="fa fa-square-o"></i>
		<%= tag.label %>
<% } %>
		<% if (tag.description) { %>
			<div class="btn-reset info"
				 style="float: right; padding: 0">
					<i class="fa fa-info"></i>
			</div>
		<% } %>
	</button>
<% if (!_.isEmpty(tag.children)) { %>
	<button class="btn-reset expand">
		<i class="fa fa-angle-down"></i>
	</button>
<% } %>