{% extends '../../stdbody.html' %}
{% import '../../macros/tags.html' as tagMacros %}
{% set requirejsView="createPost" %}
{% set dataPage="createPost" %}

{% block head %}
{% parent %}
	{{ tagMacros.stylesheet(getMediaUrl('css','sn_pages.min.css')) }}
{% endblock %}

{% block pageNavbarDetail %}
	<i class="iconThumbnail iconThumbnailSmall iconShadowed icon-bullhorn"></i>
	<span class="pageLabel">
		Nova Publicação
	</span>
{% endblock %}


{% block body %}

	{% include '../../layouts/navbar.html' with navbarOpts %}
	{% include '../../layouts/sidebar.html' %}

	<div id="globalContainer">
		<div id="content">
			<div id="formCreatePost">
				{% block formContent %}
				{% endblock %}
			</div>
		</div>

		<div class="wordCounter"></div>
	</div>

	<script>
		function resizeCardsPanel() {
			document.getElementById("globalContainer").style.height = (document.body.offsetHeight - document.getElementById("globalContainer").getBoundingClientRect().top + 10)+"px";
		}
		resizeCardsPanel();
	</script>
{% endblock %}