{% extends './new_post.html' %}

{% set requirejsView="createPost" %}
{% set dataPage="createPost" %}

{%
set navbarOpts = {
	hasNavbarDetail: true,
	pageDetailLabel: 'Dica',
	pageDetailIcon: 'icon-bulb',
}
%}

{% block formContent %}

	<div id="content">
		<div id="formCreatePost">
			<textarea class="title autosize" name="post_title" placeholder="Título da Dica" data-toggle="tooltip" data-placement="right" title="" data-trigger="focus"></textarea>
			<div id="tagSelectionBoxWrapper"></div>
			<div class="bodyWrapper">
				<div id="postBody" data-placeholder="Lorem IpsLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam."></div>
			</div>
			<input type="hidden" name="post_type" value="Tip" />
			<input type="hidden" name="_csrf" value="{{ token }}" />
		</div>
	</div>

{% endblock %}