
@import "../common.less";

body:not([data-page=timeline]) {
	margin: 0 0 120px;
}

footer {
	font-family: "Open Sans";
	
	.links {
		color: @COLOR1;
		text-align: center;
		margin: auto;
		font-size: 15px;

		& > a, & > li {
			margin: 5px;

			&:hover {
				text-decoration: none;
			}
			&:active {
			}
		}
	}

	.reg {
		margin: auto;
		text-align: center;
		color: #AAA;
		font-size: 14px;
	}
}

#sidebar > footer {
	text-align: center;
	padding: 0 10px;
	
	.links {
		display: inline;
		font-size: 14px;
	}
	.reg {
		display: inline;
		font-size: 13px;
	}
}

.absoluteFooter () {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 120px;
	width: 100%;
	background: white;	
	padding: 30px;
	border-top: 1px solid #CCC;

	.links {
		width: 400px;
		font-weight: 600;
		padding: 12px;
		text-transform: uppercase;
	}

	.reg {
		width: 400px;
	}
}
