
@import "../font-awesome/font-awesome.less";
@import "../common.less";

nav.bar {

	&:extend(.navbar);
	
	border-radius: 0 !important;
	padding-top: 5px;
	margin-top: -1px;
	padding-bottom: 5px;
	margin-bottom: 0;
	background: white;
	// overflow-y: hidden;

	body:not([data-page=front]) & {
		border-bottom: 2px solid #DDD;
	}

	.tooltip {
		margin-top: 9px;

		.tooltip-inner {
			border-radius: 0;
			padding: 5px 5px;
		}
	}

	.brand {
		.navbar-brand;
		.unselectable;
		color: #3498db;
		cursor: pointer;
		overflow: hidden;
		font-family: "Londrina Solid";
		font-size: 30px;
		outline: none !important;

		.version {
			font-size: 20px;
			font-weight: normal;
			color: #888;
			cursor: default;
		}
	}

	& > ul {
		margin: 0 !important;
		height: @navbar-height;

		& > a, & > button {
			.btn0;
			color: #888;
			font-weight: 700;
			&:hover, &:focus {
				background: none;
				box-shadow: none;
			}
			vertical-align: top;
			box-shadow: none;
		}

		.iconed {
			padding-right: 15px;
			padding-left: 15px;
			background: none;
			i.fa {
				font-size: 18px;
			}
		}

		li {
			display: inline-block;
			float: none;
		}

		li.dd {
			.reset-button;
			
			cursor: pointer;
			height: 50px;
			margin: 0;
			padding: 0;

			ul {
				right: 0;
				left: auto;
			}
		}

		.avatar-btn {
			.reset-button;
			margin-top: 2px;
			margin-right: 10px;
			position: relative;
			
			& > img {
				border-radius: 30px;
				margin-right: 5px;
				box-shadow: 0 0 1px black;
			}
		}

		[data-role=show-signin],
		[data-role=sobre] {
			.btn0;
			.inverted-btn;
			padding-left: 30px;
			padding-right: 30px;
			font-weight: 700;
			.box-shadow(none);
		}

		[data-role=feedback] {
			.btn0;
			.inverted-btn(white, #FF8300);
			padding-left: 10px;
			padding-right: 10px;
			font-weight: 700;
			.box-shadow(none);
		}

		[data-role=logout] {
			.btn0;
			.inverted-btn(white, #E74C3C);
			padding-left: 15px;
			padding-right: 15px;
			font-weight: 700;
			.box-shadow(none);
		}

		[data-role=nos-avisa] {
			.btn0;
			.inverted-btn(white, @CGREEN);
		}

		[data-role=show-signin] {
			text-transform: uppercase;
		}

		[data-role=sobre] {
			background: #39B3D7;
		}

		[data-role=login] {
			.btn0;
			color: #666;
			font-weight: 700;
			&:hover, &:focus {
				background: none;
			}
		}
		
		a[data-role], button[data-role] {
			font-size: 13px;
			box-shadow: none !important;
		}
	}
}
