
@import "../common.less";

@navbar-height: 50px;

nav.bar {
	@compColor: #888;
	@brandColor: #444;
	@brandFontSize: 23px;

	position: relative;
	height: @navbar-height;
	&:extend(.clearfix all); // Prevent floats from breaking the navbar
	z-index: 20;

	.navcontent {
		margin: 0 auto;
		padding: 0 0 0 20px;
	}

	.tooltip .tooltip-inner {}

	.pull-right { float: right !important; }
	.pull-left { float: left !important; }
	.navcontent > ul:not(.pull-right) {
		.pull-left;
	}

	.brand {
		.unselectable;
		position: absolute;
		left: 50%;
		width: 700px;
		margin-left: -350px;

		text-align: center;
		font-size: @brandFontSize;
		line-height: @navbar-height;
		margin-right: 15px;
		vertical-align: middle;

		a {
			color: @brandColor;
			font-family: @BrandFontFamily;
			text-transform: uppercase;
			font-family: "museo";
			outline: none !important;

			&:focus, &:hover {
				text-decoration: none;
			}
		}

		span {
			text-transform: none;
			font-weight: normal;
			display: inline;
		}

		.version {
			font-size: 20px;
			font-weight: normal;
			color: @compColor;
			cursor: default;
		}
	}

	.navcontent > ul {

		&:extend(.nav);
		&:extend(.navbar-nav);

		margin: 0 !important;
		height: @navbar-height;

		& > li {
			display: inline-block;
			vertical-align: top;
			list-style: none;
			line-height: @navbar-height;
			
			.plain-btn {
				.btn0;
				color: @compColor;
				font-weight: 700;
				&:hover, &:focus, &:active {
					background: none;
					box-shadow: none;
					color: @compColor;
				}
				padding: 8px 12px;
				vertical-align: top;
				box-shadow: none;
				background: none;
				height: @navbar-height;
				margin: 0;
				&:hover {
					color: darken(@compColor, 10%);
				}

				i {
					font-size: 17px;
					vertical-align: middle;
				}
			}

			.bell-btn {
				position: relative;
				#count {
					background: @COLOR2;
					font-size: 9px;
					float: right;
					padding: 3px 5px;
					position: absolute;
					top: 2px;
					right: 4px;
					.box-shadow(0,0,2px,1);
				}
				#count:empty {
					display: none;
				}
			}

			.openSidebar {
				.plain-btn;
				.transition(color, 200ms, ease-out);

				color: @compColor;
				font-weight: 700;
				padding: 8px 12px;
				vertical-align: top;
				box-shadow: none;
				background: none;
				height: @navbar-height;
				margin: 0;

				position: absolute;
				top: 0; left: 0;
				width: 60px;
				text-align: left;
				padding-left: 20px;
				opacity: .6;
				.transition(opacity, .2s, linear);
				i {
					font-size: 21px !important;
				}
				&:hover, &:focus, &:active {
					background: none;
					.no-box-shadow;
					opacity: 1;
				}
			}

			button.newPost {
				.plain-btn;
				.rounded(0);
				background: saturate(@COLOR3,5%);
				height: @navbar-height; // +1;
				&:active {
					.inner-shadow(5px, .4);
				}
				i { 
					font-size: 22px !important;
					color: white;
				}
				&:hover, &:focus {
					background: desaturate(@COLOR3, 5%);
				}
			}

			&.navbarDropdown {
				margin-left: 5px;

				.avatar-btn {
					.reset-button;
					cursor: pointer;
					position: relative;
					display: inline-block;
					.avatarDd {
						display: inline-block;
						width: @navbar-height; // +1;
						height: @navbar-height; // +1;
						vertical-align: top;
						.background-size(cover);
					}
				}

				.dropdown-menu {
					left: auto;
					right: 2px;
					margin-top: 6px;
					padding: 6px 0px;
					.rounded(3px);
					background: #222;
					min-width: 0;

					&::before {
						content: ' ';
						border: 5px solid transparent;
						border-bottom-color: #222;
						position: absolute;
						top: -11px;
						left: 69px;
					}

					li {
						font-family: museo-sans;
						background: transparent;
						a {
							outline: none;
							cursor: pointer;
							color: white;
							.rounded(1px);
							padding: 5px 20px;
							font-size: 12px;
							font-weight: bold;
							font-family: museo-sans;

							.transition(all, .2s, linear);

							&:focus, &:hover, &:active { background: #222; }

							&:hover {
								background: @COLOR1;
								color: white;
							}
							&:active {
								.inner-shadow(3px, .3);
							}

							i {
								display: none;
								font-size: 13px;
								width: 12px;
							}
						}
					}
				}
			}
		}

		.blue-high {
			.high-xbtn(white, @COLOR1);
		}

		& > .separator {
			display: inline-block;
			margin: 0 5px;
			height: 100%;
			border-left: 1px solid rgba(0,0,0,.1);
		}
	}
}

.dialog {
	[data-action=send-tester-email] {
		.high-xbtn;
	}
}

.notificationList {
	margin: -10px -15px;
	.rounded(5px);
	overflow: hidden;

	.notificationItem {
		list-style: none;
		display: table;
		width: 100%;
		cursor: pointer;
		color: #444;

		padding: 7px 10px;
		font-size: 12px;
	
		&[data-seen=false][data-accessed=false] {
			background: #EFEFFF;
		}

		&[data-seen=true] {
			background: #F9FAFF;
		}

		&:hover {
			background: #F0F0FF !important;
		}

		&:not(:last-child) {
			border-bottom: 1px solid #DDD;
		}
		
		.notificationItemBody {
		}

		.thumbnail {
			.rounded(3px);
			float: left;
			margin-right: 10px;
			width: 30px;
			height: 30px;
			.background-size(cover);
		}
	}
}