

<footer>
	
	<div class="links">
		<a href="<%= getPageUrl('about') %>">Sobre</a>
		<a href="<%= getPageUrl('team') %>">Quem Somos</a>
		<a href="<%= getPageUrl('join-team') %>">Faça Parte</a>
		<!-- <a href="<%= getPageUrl('contact') %>">Fale Conosco</a>  -->
		<!-- <span class="social"> -->
			<a href="<%= getPageUrl('twitter') %>"><i class="icon-twitter"></i></a>
			<a href="<%= getPageUrl('facebook') %>"><i class="icon-facebook"></i></a>
		<!-- </span> -->
	</div>
	<div class="reg">
		qilabs.org &reg; 2013
	</div>

</footer>
