
<nav class="bar" role="navigation">
<div class="navcontent">
	{% if user %}
		<a class="brand" href="/" tabindex="-1">
			<script>
			var icons = ['flask', 'puzzle', 'bolt', 'rocket', 'bulb'];
			document.write('<i class="icon-'+icons[Math.floor(icons.length*Math.random())]+'"></i>');
			</script>
			QI Labs<!--  <sup class="version">{{ app.semantic_version }}</sup> -->
		</a>
<!-- 
		<ul>
			<li>
				<a href="#" class="model-link home" data-toggle="tooltip" title="Seu Mural" data-placement="bottom">
					<i class="icon-home"></i>
				</a>
			</li>
			<li>
				<a href="#" class="model-link groups" data-toggle="tooltip" title="Grupos" data-placement="bottom">
					<i class="icon-group"></i>
				</a>
			</li>
			<li>
				<a href="#" class="model-link guia" data-toggle="tooltip" title="Guias" data-placement="bottom">
					<i class="icon-guia"></i>
				</a>
			</li>
			<li>
				<a href="#" class="model-link board" data-toggle="tooltip" title="Quadro de Avisos" data-placement="bottom">
					<i class="icon-board"></i>
				</a>
			</li>
		</ul> -->
		<ul class="pull-right">
			<li>
				<button class="plain-btn" data-toggle="tooltip" title="Agenda" data-placement="bottom">
					<i class="icon-agenda"></i>
				</button>
			</li>
			<li id="bellPlacement">
				<button class="plain-btn bell-btn" data-action="show-notifications">
					<i class="icon-bell"></i><sup id="count" class="badge"></sup>
				</button>
			</li>
			<li>
			 	<a href="{{ getPageUrl('panel') }}" class="plain-btn"
					title="Configurações de conta" data-toggle="tooltip" data-placement="bottom">
					<i class="icon-cog"></i>
				</a>
			</li>
		 	<li class="menu-dd" class="dropdown">
			 	<div id="drop3" data-toggle="dropdown" role="button" class="avatar-btn dropdown-toggle"
					>
					{{ user.name }}
					<div class="avatarDd" style="background-image: url('{{ user.avatarUrl }}')">
					<i></i>
					<b class="caret"></b>
				</div>
				<ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
					<li role="presentation">
						<a role="menuitem" tabindex="-1" href="{{ user.profileUrl }}">
							<i class="icon-user"></i> Meu Perfil
						</a>
					</li>
					<li role="presentation">
						<a role="menuitem"  tabindex="-1" href="{{ getPageUrl('panel') }}">
							<i class="icon-cog"></i> Configurações
						</a>
					</li>
					<li role="presentation" class="divider"></li>
					<li role="presentation">
						<a role="menuitem" tabindex="-1" href="{{ getPageUrl('about') }}">
							<i class="icon-question"></i> Ajuda e FAQ
						</a>
					</li>
					<li role="presentation">
						<a role="menuitem" tabindex="-1" data-ajax-post-href="{{ getPageUrl('logout') }}" data-redirect-href="/">
							<i class="icon-sign-out"></i> Log Out
						</a>
					</li>
				</ul>
			</li>
		</ul>
	{% else %}
		<a class="brand" href="/" tabindex="-1">
			Q.I. Laboratories<!--  <sup class="version">{{ app.semantic_version }}</sup> -->
		</a>
		<ul class="nav navbar-nav pull-right">
			<a data-action="show-signin" href="#signin" data-toggle="dialog">
				<strong>Peça um Convite</strong>
			</a>
			<a href="/auth/facebook" class="plain-btn" data-action="login">
				Entrar
			</a>
			<a href="{{ getPageUrl('about') }}" class="plain-btn">
				<i class="icon-question"></i>
			</a>
		</ul>
	{% endif %}
</div>
</nav>


<div class="dialog" id="signin">
	<div class="box">
		<button type="button" data-action="close-dialog" class="close" onClick="location.href='#'" aria-hidden="true">&times;</button>
		<div class="content">
			<h1>Quer ajudar a testar? \o/</h1>
			<h3>Coloca aqui o seu email</h3>
			<small>(Pode ficar tranquilo, a gente odeia spam!)</small>
			<div>
				<form method="post" action="/api/testers">
					<input type="text" name="email" placeholder="seu email aqui..." />
					<input type="hidden" name="_csrf" value="{{ token }}" />
					<button data-action="send-tester-email">Enviar</button>
				</form>
			</div>
		</div>
	</div>
	<div class="box-blackout" data-action="close-dialog"></div>
</div>


<div class="dialog" id="nos-avisa">
	<div class="box">
		<button type="button" data-action="close-dialog" class="close" onClick="location.href='#'" aria-hidden="true">&times;</button>
		<div class="content">
			<h1>Tem notícia pra gente?</h1>
			<small>Manda um email para <strong>piresafelipe[arroba]gmail[ponto]com</strong> o assunto 'Me Avisa'.</small>
		</div>
	</div>
	<div class="box-blackout" data-action="close-dialog"></div>
</div>