<nav class="navbar" role="navigation">
	<div>
		<a class="brand" href="/">
			MeAvisa.org <sup class="version"><%= version_str %></sup>
		</a>
		<% if (user) { %>

			<ul class="nav navbar-nav pull-right">
				<button class="iconed" onClick="$(this).find('i').toggleClass('fa-bell-o').toggleClass('fa-bell');">
					<i class="fa fa-bell fa-lg"></i>
				</button>
				<a data-role="sobre" href="/auth/facebook">
					<strong>Sobre o Me Avisa</strong>
				</a>
				<a data-role="logout" href="/logout">
					Sair
				</a>
				<button class="hidden">
					<i class="fa fa-search fa-lg"></i>
				</button>
				<button class="">
					<i class="fa fa-gear fa-lg"></i>
				</button>
			</ul>
			<ul class="nav navbar-nav">
			</div>
			
		<% } else { %>
			<ul class="nav navbar-nav pull-right">
				<a data-role="signin" href="/auth/facebook">
					<strong>Solicitar Convite</strong>
				</a>
				<a data-role="login" href="/auth/facebook">
					Entrar
				</a>
				<button class="">
					<i class="fa fa-question fa-lg"></i>
				</button>
			</ul>
		<% } %>
	</div>
</nav>