
<nav class="bar" role="navigation">
	<a class="brand" href="/" tabindex="-1">
		MeAvisa.org <sup class="version"><%= app.semantic_version %></sup>
	</a>
		<% if (typeof user !== "undefined") { %>
			<ul class="nav navbar-nav">
				<button data-hash="nos-avisa" data-action="nos-avisa" data-toggle="dialog">
					Avisa Pra Gente!
				</button>
			</ul>
			<ul class="nav navbar-nav pull-right">
				<button class="plain-btn"
					onClick="$(this).find('i').toggleClass('icon-bell-o').toggleClass('icon-bell');"
					title="Temos 0 updates para você" data-toggle="tooltip" data-placement="bottom">
					<i class="icon-bell"></i>
				</button><!-- 
			 --><a href="<%= getPageUrl('panel') %>" class="plain-btn"
					title="Configurações" data-toggle="tooltip" data-placement="bottom">
					<i class="icon-cog"></i>
				</a><!-- 
			 --><button data-ajax-post-href="/api/user/logout" data-redirect-href="/" data-action="logout">
					Sair
				</button><!-- 
			 --><button class="hidden">
					<i class="icon-search"></i>
				</button><!-- 
			 --><a href="<%= getPageUrl('about') %>" class="plain-btn"
					title="Ajuda" data-toggle="tooltip" data-placement="bottom">
					<i class="icon-question"></i>
				</a><!-- 
			 --><a href="<%= getPageUrl('profile', user.id) %>" class="avatar-btn"
					title="Seu Perfil" data-toggle="tooltip" data-placement="bottom">
					<img id="avatarDd" alt="seu avatar" width=45 class="" src="<%= user.avatarUrl %>" />
					<i></i>
				</a>
			</ul>
		<% } else { %>
			<ul class="nav navbar-nav pull-right">
				<a data-action="show-signin" href="#signin" data-toggle="dialog">
					<strong>SEJA UM EARLY-TESTER</strong>
				</a>
				<a href="/auth/facebook" class="plain-btn" data-action="login">
					Entrar
				</a>
				<a href="<%= getPageUrl('about') %>" class="plain-btn">
					<i class="icon-question"></i>
				</a>
			</ul>
		<% } %>
	</div>
</nav>


<div class="dialog" id="signin">
	<div class="box">
		<button type="button" data-action="close-dialog" class="close" onClick="location.href='#'" aria-hidden="true">&times;</button>
		<div class="content">
			<h1>Quer ajudar a testar? \o/</h1>
			<h3>Coloca aqui o seu email</h3>
			<small>(Pode ficar tranquilo, a gente odeia spam!)</small>
			<div>
				<form method="post" action="/api/testers">
					<input type="text" name="email" placeholder="seu email aqui..." />
					<input type="hidden" name="_csrf" value="<%= token %>" />
					<button data-action="send-tester-email">Enviar</button>
				</form>
			</div>
		</div>
	</div>
	<div class="box-blackout" data-action="close-dialog"></div>
</div>


<div class="dialog" id="nos-avisa">
	<div class="box">
		<button type="button" data-action="close-dialog" class="close" onClick="location.href='#'" aria-hidden="true">&times;</button>
		<div class="content">
			<h1>Tem notícia pra gente?</h1>
			<small>Manda um email para <strong>piresafelipe[arroba]gmail[ponto]com</strong> o assunto 'Me Avisa'.</small>
		</div>
	</div>
	<div class="box-blackout" data-action="close-dialog"></div>
</div>