{% import '../macros/user.html' as userMacros %}

<@ var calcTimeFrom = function (arg) {
	var now = new Date(),
		then = new Date(arg),
		diff = now-then;
	if (diff < 1000*60) {
		return 'há '+Math.floor(diff/1000)+'s';
	} else if (diff < 1000*60*60) {
		return 'há '+Math.floor(diff/1000/60)+'min';
	} else if (diff < 1000*60*60*30) { // até 30 horas
		return 'há '+Math.floor(diff/1000/60/60)+'h';
	} else {
		return 'há '+Math.floor(diff/1000/60/60/24)+'dias';
	}
} @>

<div class="mediaUser">
	<a href="<@= comment.author.profileUrl @>">
		<div class="mediaUserAvatar" style="background: url(<@= comment.author.avatarUrl @>)" title="<@= comment.author.username @>"/>
		</div>
	</a>
</div>
<div class="msgBody <@= (comment.author.id==='{{ user.id }}')?'editable':'' @>">
	<@= comment.data.body @>
	<@ if (comment.author.id === '{{ user.id }}') { @>
	<div class="option-buttons">
		<button data-action="remove-post" data-toggle="tooltip" title="Remover Comentário" data-placement="bottom">
			<i class="icon-trash"></i>
		</button>
		<button data-action="edit-post" data-toggle="tooltip" data-placement="bottom" title="Editar Comentário">
			<i class="icon-edit"></i>
		</button>
	</div>
	<@ } @>
</div>
<time data-time-count="<@= 1*new Date(comment.dateCreated) @>">
	<@= calcTimeFrom(comment.dateCreated) @>
</time>