{% import '../macros/user.html' as userMacros %}

<div class="mediaUser">
	<a href="<@= comment.author.profileUrl @>">
		<div class="mediaUserAvatar" style="background: url(<@= comment.author.avatarUrl @>)" title="<@= comment.author.username @>"/>
		</div>
	</a>
</div>
<div class="msgBody <@= (comment.author.id==='{{ user.id }}')?'editable':'' @>">
	<@= comment.data.unescapedBody @>
	<@ if (comment.author.id === '{{ user.id }}') { @>
	<div class="optionBtns">
		<button data-action="remove-post" data-toggle="tooltip" title="Remover Comentário" data-placement="bottom">
			<i class="icon-trash"></i>
		</button>
	</div>
	<@ } @>
</div>
<time data-time-count="<@= 1*new Date(comment.dateCreated) @>">
	<@= window.calcTimeFrom(comment.dateCreated) @>
</time>