<@
@>

<div class="op-msg">
	<div class="post-msg-header">
		<a href="<@= post.author.profileUrl @>">
			<img class="author-avatar" src="<@= post.author.avatarUrl @>" />
		</a>
		<div class="post-msg-headline">
			<div class="author-username">
				<a href="<@= post.author.profileUrl @>">
					<@= post.author.username @>
				</a>
			</div>
			disse:
		</div>
		<a href="<@= post.path @>"><time><@= post.dateCreated @></time></a>
		<@ if (post.author.id === '{{ user.id }}') { @>
		<div class="post-options-dd">
			<button data-action="remove-post">Remove</button>
		</div>
		<@ } @>
	</div>
	<div class="post-msg-body">
		<@= post.data.body @>
	</div>
</div>

<div class="post-comments-section">
</div>

<div class="post-commen-tinput">
	<form class="formPostComment" onSubmit="return false;">
		{{ usermacros.renderUser(user) }}
		{{ user.username }} diz: <textarea>oi, sou eu</textarea>
		<button data-action="send-comment">Comentar</button>
	</form>
</div>