{% import '../macros/user.html' as userMacros %}

<div class="opMessage">
	<div class="msgHeader">
		<div class="mediaUser">
			<a href="<@= post.author.profileUrl @>">
				<div class="mediaUserAvatar" style="background: url(<@= post.author.avatarUrl @>)"></div>
			</a>
		</div>
		<div class="headline">
			<a href="<@= post.author.profileUrl @>" class="authorUsername">
				<@= post.author.name @>
			</a>
			disse:
		</div>
		
		<a href="<@= post.path @>">
			<time data-time-count="<@= 1*new Date(post.dateCreated) @>">
				<@= window.calcTimeFrom(post.dateCreated) @>
			</time>
		</a>

		<div class="optionBtns">
		<@ if (post.author.id === '{{ user.id }}') { @>
			<button data-action="remove-post" data-toggle="tooltip" data-placement="bottom" title="Remover Post">
				<i class="icon-trash"></i>
			</button>
			<button data-action="edit-post" data-toggle="tooltip" data-placement="bottom" title="Editar Post">
				<i class="icon-edit"></i>
			</button>
		<@ } @>
		</div>
	</div>
	<div class="msgBody">
		<div class="arrow"></div>
		<@= post.data.body @>
	</div>
</div>

<div class="postCommentsSection">
</div>

<div class="commentInputSection">
	<form class="formPostComment" onSubmit="return false;">
		{{ userMacros.renderUser(user) }}
		<input class="commentInput" type="text" placeholder="Comente esse post..." />
		<button data-action="send-comment">Enviar</button>
	</form>
</div>